{% extends "core/base.html" %}

{% block title %}{{sem}}{% endblock %}

{% block content %}
<div class="container">

    <h3>
        {{sem}}
        <a class="btn btn-default" href="{% url 'sem_list' %}">SEM List</a>
        <a class="btn btn-success" href="{% url 'sem_files' pk=process_id %}">Add Images</a>
        <a class="btn btn-warning" href="{% url 'sem_update' pk=process_id %}">Update</a>
        <a class="btn btn-danger" href="{% url 'sem_delete' pk=process_id %}">Delete</a>
    </h3>

    <p>Image Source: {{sem.image_source}}</p>

    <div>
        {% if sample_siblings %}
        <h4>
            Scans for {{sem.sample}}
            <a class="btn btn-primary" href="{% url 'sample_detail' pk=sem.sample.id %}">Sample Details</a>
        </h4>
        {% for sibling in sample_siblings %}
        <a class="btn btn-sm btn-default" href="{% url 'sem_detail' pk=sibling.id %}">{{sibling}}</a>
        {% endfor %}
        {% endif %}

        {% if pocket_siblings %}
        <h4>
            Scans for {{sem.growth}}_{{sem.sample.pocket}}
            <a class="btn btn-primary" href="{% url 'sample_family_detail' growth=sem.growth.growth_number pocket=sem.sample.pocket %}">Pocket Details</a>
        </h4>
        {% for sibling in pocket_siblings %}
        <a class="btn btn-sm btn-default" href="{% url 'sem_detail' pk=sibling.id %}">{{sibling}}</a>
        {% endfor %}
        {% endif %}

        {% if growth_siblings %}
        <h4>
            Scans for {{sem.growth}}
            <a class="btn btn-primary" href="{% url 'growth_detail' slug=sem.growth.growth_number %}">Growth Details</a>
        </h4>
        {% for sibling in growth_siblings %}
        <a class="btn btn-sm btn-default" href="{% url 'sem_detail' pk=sibling.id %}">{{sibling}}</a>
        {% endfor %}
        {% endif %}
    </div>

    <div>
        {% if images %}
            <h4>Images</h4>
            {% for i in images %}
                <img height="500" src="{{ i.url }}">
            {% endfor %}
        {% endif %}
    </div>


</div>
{% endblock %}
