{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}Update SEM{% endblock %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'growth_detail' slug=sem.growth.growth_number %}">{{sem.growth}}</a></li>
        <li><a href="{% url 'sample_detail' pk=sem.sample.id %}">{{sem.sample}}</a></li>
        <li><a href="{% url 'sem_detail' pk=sem.id %}">{{sem}}</a></li>
        <li class="active">Update</li>
    </ol>

    <h1>Update {{sem}}</h1>

    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form layout='inlinne' %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Update</button>
        {% endbuttons %}
    </form>

    <a href="{% url 'sem_detail' pk=sem.id %}">back</a>
</div>
{% endblock %}
