[run]
source = .
branch = True
omit =
    *tests*
    *migrations*
    *__init__*
    docs/*
    *settings*
    .tox/*
    manage.py
    *wsgi*

[report]
ignore_errors = True
show_missing = True

[html]
directory=.tox/py27
