Django>=1.6,<1.7
MySQL-python==1.2.5
South==0.8.4
django-auth-ldap==1.2.0
git+https://github.com/alex/django-filter.git
django-datetime-widget==0.6
sphinx==1.2.2
sphinx_rtd_theme==0.1.6
django-storages==1.1.8
paramiko==1.14.0
django-bootstrap3==4.8.2
djangorestframework>=2.3,<3
django-autoslug==1.7.2
pyapi-gitlab==6.2.3
django-markupfield==1.2.1
Pillow==2.5.1
django-activity-stream==0.5.0
django-jsonfield==0.9.13
django-braces==1.4.0