<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% load staticfiles %}
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/wbg.css' %}" rel="stylesheet">
    {% block header %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <nav class="navbar navbar-default" role="navigation">
        <header class="container-fluid">
            <a href="/" class="logo navbar-left">
                <img src="{% static 'core/img/logo.png' %}" alt="logo">
            </a>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>
            {% if user.is_anonymous %}
            <a href="{% url 'login' %}?next={{request.get_full_path|urlencode}}" class="navbar-right">Login</a>
            {% else %}
            <div class="navbar-right">
                {{user}}
                <a href="{% url 'logout' %}">Logout</a>
            </div>
            {% endif %}
        </header>
    </nav>

    {% block content %}
    {% endblock %}

</body>

</html>
