<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% load staticfiles %}
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/wbg.css' %}" rel="stylesheet">
    {% block header %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#wbg-navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="logo navbar-left">
                    <img src="{% static 'core/img/logo.png' %}" alt="WBG">
                </a>
            </div>

            <div id="wbg-navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'profile_dashboard' %}">Dashboard</a></li>
                </ul>
                {% if user.is_anonymous %}
                <a class="navbar-right navbar-link" href="{% url 'login' %}?next={{request.get_full_path|urlencode}}">Login</a>
                {% else %}
                <p class="navbar-right navbar-text">{{user}}
                <a class="navbar-link" href="{% url 'logout' %}">Logout</a>
                </p>
                <form class="navbar-form navbar-right" role="search" action="{% url 'quicksearch' %}">
                    <div class="input-group">
                        <input type="text" name="growth" class="form-control" placeholder="Search Growth Number">
                        <span class="input-group-btn">
                            <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </nav>

    {% if breadcrumb %}
        <ol class="breadcrumb">
            <li>History</li>
        {% for page in breadcrumb %}
            <li><a href="{{page}}">{{page}}</a></li>
        {% endfor %}
        </ol>
    {% endif %}

    {% block content %}
    {% endblock %}

</body>

</html>
