<div>
    <h3 class="page-header">
        <div class="clearfix">
            Data Files
            <div class="pull-right">
                <a class="btn btn-primary" href="{% url 'file_upload' uuid=process.uuid %}">
                    <span class="glyphicon glyphicon-upload"></span>
                    Upload File
                </a>
            </div>
        </div>
    </h3>

    <table class="table table-striped table-bordered table-hover"
           data-toggle="table"
           data-sort-name="created"
           data-sort-order="asc">
        <thead>
            <tr>
                <th data-field="created" data-sortable="true">Created</th>
                <th data-field="modified" data-sortable="true">Modified</th>
                <th data-field="file_type" data-sortable="true">File Type</th>
                <th data-field="data_state" data-sortable="true">Data State</th>
                <th>File</th>
            </tr>
        </thead>
        {% for file in object_list %}
            <tr>
                <td>{{file.created}}</td>
                <td>{{file.modified}}</td>
                <td>{{file.get_content_type_display}}</td>
                <td>{{file.get_state_display}}</td>
                <td><a href="{{MEDIA_URL}}{{file.data}}">
                    <span class="glyphicon glyphicon-file"></span>
                </a></td>
            </tr>
        {% endfor %}
    </table>
</div>

