{% extends "core/base.html" %}

{% block title %}Investigations{% endblock %}

{% block content %}
    <div class="container">
        <a href="">Add new</a>

        <h3>Active Investigations</h3>
        <ul class="list-group">
        {% for investigation in active_list %}
            <li class="list-group-item">
                {{investigation.name}}
                <div class="pull-right">
                    <a href="" class="btn btn-default btn-sm">Make Inactive</a>
                    <a href="" class="btn btn-default btn-sm">Add to Project</a>
                </div>
                <ul>
                {% for project in investigation.projects.all %}
                    <li>{{project.name}}</li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>

        <h3>Inactive Investigations</h3>
        <ul class="list-group">
        {% for investigation in inactive_list %}
            <li class="list-group-item">
                {{investigation.name}}
                <div class="pull-right">
                    <a href="" class="btn btn-default btn-sm">Make Active</a>
                </div>
            </li>
        {% endfor %}
        </ul>

        <a href="{% url 'home' %}">Back</a>
    </div>

{% endblock %}
