{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div>
            <a href="{% url 'home' %}">
                <img src="{% static 'core/img/logo.png' %}" alt="WBG" class="center-block">
            </a>
        </div> 
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="center-block">
            {% if form.errors %}
            <p class="text-center">Your username and password didn't match. Please try again.</p>
            {% else %}
            <p class="text-center">Please login to continue</p>
            {% endif %}
        </div>    
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            {% bootstrap_form form %}  
            {% buttons %}
                <button type="submit" class="btn btn-default">
                    {% bootstrap_icon "log-in" %}  Login
                </button>
            {% endbuttons %}
            <br>            
            <!--<input type="submit" class="btn btn-default" value="Login" />-->
            <input type="hidden" name="next" value="{{next}}" />

        </form>
    </div>
</div>
    

{% endblock %}
