{% extends "core/base.html" %}

{% block title %}Operators{% endblock %}

{% block content %}
    <div class="container">
        <a href="{% url 'operator_create' %}">Add new</a>

        <h3>Current Operators</h3>
        <ul class="list-group">
        {% for operator in active_list %}
            <li class="list-group-item">
                {{operator}}
                <a href="" class="pull-right btn btn-default btn-sm">Retire</a>
            </li>
        {% endfor %}
        </ul>

        <h3>Old Operators</h3>
        <ul class="list-group">
        {% for operator in inactive_list %}
            <li class="list-group-item">{{operator}}</li>
        {% endfor %}
        </ul>

        <a href="{% url 'home' %}">Back</a>
    </div>

{% endblock %}
