{% extends "core/base.html" %}

{% block title %}Operators{% endblock %}

{% block content %}
    <div class="container">
        <h3>Current Operators</h3>
        <ul class="list-group">
        {% for operator in active_list %}
            <li class="list-group-item">
                <div class="clearfix">
                    {{operator}}
                    <a class="pull-right btn btn-default btn-sm" href="">Retire</a>
                </div>
            </li>
        {% endfor %}
        </ul>

        <h3>Former Operators</h3>
        <ul class="list-group">
        {% for operator in inactive_list %}
            <li class="list-group-item">{{operator}}</li>
        {% endfor %}
        </ul>

        <a href="{% url 'home' %}">Back</a>
    </div>

{% endblock %}
