{% extends "core/base.html" %}

{% block title %}Platters{% endblock %}

{% block content %}
    <div class="container">

        <h3>Current Platters <a class="btn btn-primary" href="">Add new</a></h3>
        <ul class="list-group">
        {% for platter in active_list %}
            <li class="list-group-item">
                <div class="clearfix">
                    {{platter.name}} ({{platter.serial}}) - Started on {{platter.start_date}}
                    <a href="" class="pull-right btn btn-default btn-sm">Retire</a>
                </div>
            </li>
        {% endfor %}
        </ul>

        <h3>Old Platters</h3>
        <ul class="list-group">
        {% for platter in inactive_list %}
            <li class="list-group-item">
                <div class="clearfix">
                    {{platter.name}} ({{platter.serial}}) - Retired on {{platter.end_date}}
                    <a href="" class="pull-right btn btn-default btn-sm">Unretire</a>
                </div>
            </li>
        {% endfor %}
        </ul>

        <a href="{% url 'home' %}">Back</a>
    </div>

{% endblock %}
