{% extends "core/base.html" %}

{% block title %}{{process.uuid}}{% endblock title %}

{% block content %}

<main class="container">
    <nav>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'process_list' %}">Processes</a></li>
            <li class='active'>{{process.uuid}}</li>
        </ol>
    </nav>

    <header>
        <h1 class="page-header">
            {{process}}
            {% if process.legacy_identifier %}
                ({{process.legacy_identifier}})
            {% endif %}
            <div class="pull-right">
                <a href="{% url 'process_edit' uuid=process.uuid %}" class="btn btn-warning">
                    Edit
                </a>
            </div>
        </h1>
    </header>

    <div>
        <h3 class="page-header">{{process.name}} Details</h3>
        <p>UUID: {{process.uuid}} ({{process.uuid_full}})</p>
        <p>Legacy ID: {{process.legacy_identifier}}</p>
        <p>Created: {{process.created}}</p>
        <p>Modified: {{process.modified}}</p>
        <p>Comment: {{process.comment|safe}}</p>
        {% if not samples %}
            <div class="alert alert-warning">
                <h3>This process doesn't have any associated samples</h3>
                <p>Get started by running this process on an existing or new sample(s).</p>
                <div class="top-spacer-sm">
                    <a href="#" class="btn btn-primary right-spacer-xs">
                        <span class="glyphicon glyphicon-plus"></span>
                        Run Process
                    </a>
                </div>
            </div>
        {% else %}
            <p>
                Samples:
                <ul>
                    {% for sample in samples %}
                        <li>
                            <a href="{% url 'sample_detail' uuid=sample.uuid %}">
                                {{sample.uuid}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </p>
        {% endif %}

        {% if not process.datafiles.all.exists %}
            <div class="alert alert-info">
                <h3>This process doesn't have any associated data files</h3>
                <p>Get started by uploading a file.</p>
                <div class="top-spacer-sm">
                    <a href="#" class="btn btn-primary right-spacer-xs">
                        <span class="glyphicon glyphicon-upload"></span>
                        Upload File
                    </a>
                </div>
            </div>
        {% else %}
            <p>
                Data Files:
                <ul>
                    {% for file in process.datafiles.all %}
                        <li>
                            Content Type: {{file.content_type}} <br>
                            Data State: {{file.state}} <br>
                            Location: {{file.data}}
                        </li>
                    {% endfor %}
                </ul>
            </p>
        {% endif %}
    </div>

</main>

{% endblock content %}
