{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}{{process.uuid}}{% endblock title %}

{% block content %}

<main class="container">
    <nav>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'process_list' slug='all' username='all' %}">Processes</a></li>
            <li class='active'>{{process.uuid}}</li>
        </ol>
    </nav>

    <header>
        <h1 class="page-header">
            {{process.uuid}}
            {% if process.legacy_identifier %}
                ({{process.legacy_identifier}})
            {% endif %}
            <small>{{process.uuid_full}}</small>
            <div class="pull-right">
                <a href="{% url 'process_edit' uuid=process.uuid %}" class="btn btn-warning">
                    {% bootstrap_icon 'edit' %}
                    Edit
                </a>
            </div>
        </h1>
    </header>

    <div>
        <h3 class="page-header">
            <div class="clearfix">
                {{process.name}} Details
                {% if readings %}
                    <a class="pull-right btn btn-info" href="{% url 'd180_readings_detail' process %}">
                        {% bootstrap_icon 'list' %}
                        Readings
                    </a>
                {% endif %}
            </div>
        </h3>
        <p>Created by {{process.user.get_full_name}} on {{process.created}}.</p>
        <p>Last modified {{process.modified}}.</p>
        {% if process.comment %}
            <p>{{process.comment|safe}}</p>
        {% else %}
            <div class="alert alert-warning">
                <h3>This process doesn't have a comment</h3>
                <p>Get started by adding a comment.</p>
                <div class="top-spacer-sm">
                    <a href="{% url 'process_edit' uuid=process.uuid %}" class="btn btn-warning">
                    {% bootstrap_icon 'edit' %}
                    Edit
                    </a>
                </div>
            </div>
        {% endif %}
        {% if not samples %}
            <div class="alert alert-warning">
                <h3>This process doesn't have any associated samples</h3>
                <p>Get started by running this process on an existing or new sample(s).</p>
                <div class="top-spacer-sm">
                    <a href="#" class="btn btn-primary right-spacer-xs">
                        {% bootstrap_icon 'plus' %}
                        Run Process
                    </a>
                </div>
            </div>
        {% else %}
            <div>
                <h3 class="page-header">
                    Samples
                </h3>
                <div class="list-group">
                    {% for sample in samples %}
                        <a class="list-group-item" href="{% url 'sample_detail' uuid=sample.uuid %}">
                            {{sample.uuid}}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if not datafiles %}
            <div class="alert alert-info">
                <h3>This process doesn't have any associated data files</h3>
                <p>Get started by uploading a file.</p>
                <div class="top-spacer-sm">
                    <a href="{% url 'file_upload' uuid=process.uuid %}" class="btn btn-primary right-spacer-xs">
                        {% bootstrap_icon 'upload' %}
                        Upload File
                    </a>
                </div>
            </div>
        {% else %}
            {% for filetype, filelist in datafiles.items %}
                {% include filetype.partial_template with object_list=filelist process=process %}
            {% endfor %}
        {% endif %}
    </div>

</main>

{% endblock content %}
