{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}Processes{% endblock title %}

{% block content %}

<main class="container">
    <nav>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class='active'>Processes</li>
        </ol>
    </nav>

    <header>
        <h1 class="page-header">
            Processes
            <div class="btn-toolbar pull-right">
                <a class="btn btn-info" href="{% url 'process_templates' slug='all'%}">
                    {% bootstrap_icon 'star' %}
                    Favorites
                </a>
                <a class="btn btn-info" href="{% url 'processtype_list' %}">
                    {% bootstrap_icon 'th-list' %}
                    Process Types
                </a>
                <a class="btn btn-primary" href="{% url 'process_create' %}">
                    {% bootstrap_icon 'plus' %}
                    Create Process
                </a>
            </div>
        </h1>
        <ul class="nav nav-tabs">
            <li role="presentation" {% if username == 'all' %} class="active" {%endif%}>
                <a href="{% url 'process_list' slug=slug username='all' %}">All Users</a>
            </li>
            <li role="presentation" {% if username == user.username %} class="active" {%endif%}>
                <a href="{% url 'process_list' slug=slug username=user.username %}">{{user.full_name}}</a>
            </li>
            {% for user_obj in active_users %}
                <li role="presentation"{% if username == user_obj.username %} class="active" {%endif%}>
                    <a href="{% url 'process_list' slug=slug username=user_obj.username %}">{{user_obj.full_name}}</a>
                </li>
            {% endfor %}
            <li class="dropdown pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    Inactive Users <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for user_obj in inactive_users %}
                        <li{% if username == user_obj.username %} class="active" {%endif%}>
                            <a href="{% url 'process_list' slug=slug username=user_obj.username %}">{{user_obj.full_name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </header>

    <section class="col-md-3 top-spacer-sm">
        <p>Filter by type:</p>

        <div class="panel-group bottom-spacer-lg" id="categories">
            <div class="panel">
                <a class="panel-link" href="{% url 'process_list' slug='all' username='all' %}"
                   data-toggle="tooltip" data-placement="right" title="Show all process types">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                All
                            </h4>
                        </div>
                    </div>
                </a>
            </div>
            {% for category in process_categories %}
                    <div class="panel panel-default panel-clickable">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#categories" data-target="#{{category.slug}}">
                            <span data-toggle="tooltip" data-placement="right" title="{{category.description}}">
                            <h4 class="panel-title">
                                {{category.name}}
                                {% if category.number %}
                                    <span class="badge pull-right">{{category.number}}</span>
                                {% endif %}
                            </h4>
                            </span>
                        </div>
                        <div class="panel-collapse collapse{% if slug in category.processtype_slugs %} in{% endif %}" id="{{category.slug}}">
                            <div class="list-group">
                                {% for process_type in category.annotated %}
                                    <a class="list-group-item{% if slug == process_type.type %} active{% endif %}"
                                       href="{% url 'process_list' slug=process_type.type username=username %}"
                                       data-toggle="tooltip"
                                       data-placement="right"
                                       title="{{process_type.description}}">
                                            {{process_type.name}}
                                            {% if process_type.number %}
                                                <span class="badge pull-right">
                                                    {{process_type.number}}
                                                </span>
                                            {% endif %}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>

    </section>

    <section class="col-md-9 top-spacer-sm">
        <ul class="list-group">
            {% if not object_list %}
                <div class="alert alert-info top-spacer-md">
                    {% if username == user.username %}
                        <h3>No processes of this type have been run.</h3>
                        <p>Get started by creating a new process.</p>
                        <div class="top-spacer-sm">
                            <a href="{% url 'process_create' %}" class="btn btn-primary right-spacer-xs">
                                {% bootstrap_icon 'plus' %}
                                Create Process
                            </a>
                        </div>
                    {% else %}
                        <h3>This user has not created any processes of this type.</h3>
                    {% endif %}
                </div>
            {% endif %}
            {% for process in object_list %}
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">
                        {{process.type.name}} -
                        <a href="{% url 'process_detail' uuid=process.uuid %}">
                            {{process.uuid}}
                        </a>
                        {% if process.legacy_identifier %}
                            ({{process.legacy_identifier}})
                        {% endif %}
                        <div class="btn-toolbar pull-right">
                            <a class="btn btn-xs btn-default"
                             data-toggle="tooltip"
                             title="Use as template"
                             href="{% if process.type_id = 'd180-growth' %}{% url 'create_growth_d180_start_template' uuid=process.uuid %}{%else%}{% url 'process_create_from_template' uuid=process.uuid %}{%endif%}">
                              <span class="glyphicon glyphicon-share-alt" style="color:grey"></span>
                            </a>
                            <a class="btn btn-xs btn-default"
                               data-toggle="tooltip"
                               title="Favorite"
                               href="{% url 'add_process_template' uuid=process.uuid %}">
                                <span class="glyphicon glyphicon-star" style="color:grey"></span>
                            </a>
                            <a href="#" class="label label-default">{{process.name}}</a>
                        </div>
                        <span class="pull-right"><small>&emsp; {{process.created.date|date:"SHORT_DATE_FORMAT"}} &emsp; </small></span>
                    </h4>
                    <p class="list-group-item-text"></p>
                        <h4 class="page-header top-spacer-sm"><strong>{{process.title}}</strong></h4>
                        {{process.comment|escape|truncatewords_html:50|safe}}
                    </p>
                </li>
            {% endfor %}
        </ul>
    </section>

    {% if is_paginated %}
        <nav class="pull-right">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{page_obj.previous_page_number}}">
                        &laquo; Previous
                        <span class="sr-only">Previous</span>
                    </a></li>
                {% endif %}
                {% for page in paginator.page_range %}
                    <li{% if page_obj.number == forloop.counter %} class="active"{% endif %}><a href="?page={{forloop.counter}}">
                        {{forloop.counter}}
                    </a></li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{page_obj.next_page_number}}">
                        Next &raquo;
                        <span class="sr-only">Next</span>
                    </a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

</main>

{% endblock content %}
