{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block title %}Favorite Processes{% endblock title %}

{% block content %}
<main class="container">

    <nav>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'process_list_redirect' %}">Processes</a></li>
            <li class='active'>Favorites</li>
        </ol>
    </nav>

    <div class="page-header">
        <h1>
            Process Favorites
            <a href="{% url 'process_list' slug='all' username='all' %}" class="btn btn-default pull-right">
                {% bootstrap_icon 'arrow-left' %}
                Back
            </a>
        </h1>

    </div>


    <section class="col-md-3">
        <p>Filter by type:</p>

        <div class="panel-group bottom-spacer-lg" id="categories">
            <div class="panel">
                <a class="panel-link" href="{% url 'process_templates' slug='all' %}"
                   data-toggle="tooltip" data-placement="right" title="Show all process types">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                All
                            </h4>
                        </div>
                    </div>
                </a>
            </div>
            {% for category in process_categories %}
                <div class="panel panel-default panel-clickable">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#categories" data-target="#{{category.slug}}">
                        <span data-toggle="tooltip" data-placement="right" title="{{category.description}}">
                        <h4 class="panel-title">
                            {{category.name}}
                            <span class="badge pull-right">{{category.number}}</span>
                        </h4>
                        </span>
                    </div>
                    <div class="panel-collapse collapse{% if slug in category.processtype_slugs %} in{% endif %}" id="{{category.slug}}">
                        <div class="list-group">
                            {% for process_type in category.annotated %}
                                <a class="list-group-item{% if slug == process_type.type %} active{% endif %}"
                                   href="{% url 'process_templates' slug=process_type.type %}"
                                   data-toggle="tooltip"
                                   data-placement="right"
                                   title="{{process_type.description}}">
                                        {{process_type.name}}
                                        {% if process_type.number %}
                                            <span class="badge pull-right">
                                                {{process_type.number}}
                                            </span>
                                        {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </section>

    <section class="col-md-9">
        <div class="list-group">
            {% for object in object_list %}
                <li href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">
                        {{object.process.type.name}} -
                        <a href="{% url 'process_template_detail' pk=object.id %}">
                            {{object.process.uuid}}
                        </a>
                        {% if object.process.legacy_identifier %}
                            ({{object.process.legacy_identifier}})
                        {% endif %}
                        <div class="btn-toolbar pull-right">
                            <a class="btn btn-xs btn-default"
                               href="{% url 'process_template_detail' pk=object.id %}"
                               data-toggle="toolip" title="Detail">
                                {% bootstrap_icon 'info-sign' %}
                            </a>
                            <a class="btn btn-xs btn-default"
                               href="{% url 'process_template_edit' pk=object.id %}"
                               data-toggle="toolip" title="Edit">
                                {% bootstrap_icon 'edit' %}
                            </a>
                            <a class="btn btn-xs btn-default"
                               href="{% if object.process.type_id = 'd180-growth' %}{% url 'create_growth_d180_start_template' id=object.id %}{% else %}{% url 'process_create_from_template' id=object.id %}{% endif %}"
                               data-toggle="toolip" title="New from template">
                                {% bootstrap_icon 'share-alt' %}
                            </a>
                            <a class="btn btn-xs btn-default"
                               href="{% url 'remove_process_template' pk=object.id %}"
                               data-toggle="toolip" title="Delete template">
                                {% bootstrap_icon 'remove' %}
                            </a>
                        </div>
                    </h4>
                    <p class="list-group-item-text">
                        <h4 class="page-header top-spacer-sm"><strong>{{object.title}}</strong></h4>
                        {{object.comment|escape|safe|truncatewords_html:50}}
                    </p>
                </li>
            {% endfor %}
        </div>
    </section>

</main>

{% endblock %}
