{% extends 'core/base.html' %}

{% block content %}
<main class="container">

    <nav>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'process_list_redirect' %}">Processes</a></li>
            <li class='active'>Favorites</li>
        </ol>
    </nav>

    <div class="page-header">
        <h1>
            Process Favorites
            <a href="{% url 'process_list' slug='all' username='all' %}" class="btn btn-default pull-right">Back</a>
        </h1>

    </div>
    <div class="col-md-2">
        Filter by type:
        <p></p>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" {% if slug == 'all' %}class="active"{%endif%}><a href="{% url 'process_templates' slug='all' %}">All</a></li>
        {% for process_type in process_list %}
            <li role="presentation" {% if slug == process_type.slug %}class="active"{% endif %}><a href="{% url 'process_templates' slug=process_type.slug %}">{{process_type.name}}</a></li>
        {% endfor %}
        </ul>
        <p></p>
    </div>
    <div class="col-md-10">
        <div class="list-group">
            {% for object in object_list %}
                <li href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">
                        <a href="{% url 'process_template_detail' pk=object.id %}">
                            {{object.name}}
                            <small>{{object.process.uuid}}{% if object.process.legacy_identifier %} ({{object.process.legacy_identifier}}){%endif%}</small>
                        </a>
                        <div class="btn-toolbar pull-right">
                            <a class="btn btn-xs btn-default"
                               href="{% url 'process_template_detail' pk=object.id %}"
                               data-toggle="toolip" title="Detail">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </a>
                            <a class="btn btn-xs btn-default"
                               href="{% url 'process_template_edit' pk=object.id %}"
                               data-toggle="toolip" title="Edit">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="btn btn-xs btn-default"
                               href="{% url 'process_create_from_template' id=object.id %}"
                               data-toggle="toolip" title="New from template">
                                <span class="glyphicon glyphicon-share-alt"></span>
                            </a>
                            <a class="btn btn-xs btn-default"
                               href="{% url 'remove_process_template' pk=object.id %}"
                               data-toggle="toolip" title="Delete template">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </h4>
                    <p class="list-group-item-text">{{object.comment|escape|safe|truncatewords_html:50}}</p>
                </li>
            {% endfor %}
        </div>
    </div>

</main>
{% endblock %}
