{% extends "core/base.html" %}

{% block title %}Processes{% endblock title %}

{% block content %}

<main class="container">
    <nav>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class='active'>Processes</li>
        </ol>
    </nav>

    <header>
        <h1 class="page-header">
            Processes
            <div class="btn-toolbar pull-right">
                <a class="btn btn-info" href="{% url 'process_templates' slug='all'%}">
                    <span class="glyphicon glyphicon-star"></span>
                    Favorites
                </a>
                <a class="btn btn-primary" href="{% url 'process_create' %}">
                    <span class="glyphicon glyphicon-plus"></span>
                    Create Process
                </a>
            </div>
        </h1>
        <ul class="nav nav-tabs">
            <li role="presentation" {% if username == 'all' %} class="active" {%endif%}><a href="{% url 'process_list' slug=slug username='all' %}">All Users</a></li>
            {% for user_obj in user_list %}
                <li role="presentation"{% if username == user_obj.username %} class="active" {%endif%}><a href="{% url 'process_list' slug=slug username=user_obj.username %}">{{user_obj.full_name}}</a></li>
            {% endfor %}
        </ul>
        <p></p>
    </header>

    <section>

    </section>

    <section class="col-md-2">
        Filter by type:
        <p></p>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" {% if slug == 'all' %}class="active"{%endif%}><a href="{% url 'process_list' slug='all' username='all' %}">All</a></li>
        {% for process_type in process_list %}
            <li role="presentation" {% if slug == process_type.slug %}class="active"{% endif %}><a href="{% url 'process_list' slug=process_type.type username=username %}">{{process_type.name}}</a></li>
        {% endfor %}
        </ul>
        <p></p>

    </section>

    <section class="col-md-10">
        <ul class="list-group">
            {% for process in object_list %}
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">
                        <a href="{% url 'process_detail' uuid=process.uuid %}">
                            {{process.uuid}}
                        </a>
                        {% if process.legacy_identifier %}
                            ({{process.legacy_identifier}})
                        {% endif %}
                        <div class="btn-toolbar pull-right">
                            {% if process.slug = 'd180-growth' or process.slug = 'generic-process' %}
                            <a class="btn btn-xs btn-default"
                             data-toggle="tooltip"
                             title="Use as template"
                             href="{% if process.slug = 'd180-growth' %}{% url 'create_growth_d180_start_template' uuid=process.uuid %}{%else%}{% url 'process_create_from_template' uuid=process.uuid %}{%endif%}">
                              <span class="glyphicon glyphicon-share-alt" style="color:grey"></span>
                            </a>
                            <a class="btn btn-xs btn-default"
                               data-toggle="tooltip"
                               title="Favorite"
                               href="{% url 'add_process_template' uuid=process.uuid %}">
                                <span class="glyphicon glyphicon-star" style="color:grey"></span>
                            </a>
                            {% endif %}
                            <a href="#" class="label label-default">{{process.name}}</a>
                        </div>
                        <span class="pull-right"><small>&emsp; {{process.created.date|date:"SHORT_DATE_FORMAT"}} &emsp; </small></span>
                    </h4>
                    <p class="list-group-item-text"></p>
                        {{process.comment|truncatewords_html:50|safe}}
                    </p>
                </li>
            {% endfor %}
        </ul>
    </section>

    {% if is_paginated %}
        <nav class="pull-right">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{page_obj.previous_page_number}}">
                        &laquo; Previous
                        <span class="sr-only">Previous</span>
                    </a></li>
                {% endif %}
                {% for page in paginator.page_range %}
                    <li{% if page_obj.number == forloop.counter %} class="active"{% endif %}><a href="?page={{forloop.counter}}">
                        {{forloop.counter}}
                    </a></li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{page_obj.next_page_number}}">
                        Next &raquo;
                        <span class="sr-only">Next</span>
                    </a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

</main>

{% endblock content %}
