{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block content %}

<main class="container">

    <nav>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'process_list_redirect' %}">Processes</a></li>
            <li><a href="{% url 'process_templates' slug='all' %}">Favorites</a></li>
            <li class="active">Detail</li>
        </ol>
    </nav>

    <div>
        <div class="page-header">
            <h1>
                Process Template Detail
                <span class="pull-right label label-default">
                    {{processtemplate.process.name}}
                </span>
            </h1>
        </div>
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"><a href="{% if processtemplate.process.type_id = 'd180-growth' %}{% url 'create_growth_d180_start_template' id=processtemplate.id %}{%else%}{% url 'process_create_from_template' id=processtemplate.id %}{%endif%}">{% bootstrap_icon 'share-alt' %} Create Process</a></li>
                <li role="presentation"><a href="{% url 'process_template_edit' processtemplate.id %}">{% bootstrap_icon 'edit' %} Edit Template</a></li>
                <li role="presentation"><a href="{% url 'remove_process_template' processtemplate.id %}">{% bootstrap_icon 'remove' %} Delete Template</a></li>
                <li role="presentation"><a href="{% url 'process_templates' slug='all' %}">{% bootstrap_icon 'arrow-left' %} Template List</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <strong>
                        {% if processtemplate.name %}
                            {{processtemplate.name}}
                        {% else %}
                            Unnamed Template
                        {% endif %}
                    </strong>
                    ({{processtemplate.process.type.name}})
                    <span class="pull-right">
                        Based on
                        <a href="{% url 'process_detail' processtemplate.process.uuid %}">
                            {{processtemplate.process.uuid}}
                            {% if processtemplate.process.legacy_identifier %}
                                ({{processtemplate.process.legacy_identifier}})
                            {% endif %}
                        </a>
                    </span>
                </div>
                <div class="panel-body">
                    <h3><strong>{{processtemplate.title}}</strong></h3>
                    <p>{{processtemplate.comment|escape|safe}}</p>
                </div>
                <div class="panel-footer">
                    <p>
                        <span class="right-spacer-md">
                            <strong>Created: </strong>{{processtemplate.created}}
                        </span>
                        <strong>Modified: </strong>{{processtemplate.modified}}
                    </p>
                <p></p>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}
