{% extends "core/base.html" %}

{% load bootstrap3 %}

{% block title %}Create Process{% endblock title %}

{% block header %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'jquery-ui/themes/base/minified/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
{% endblock header %}

{% block content %}

<main class="container">
    <nav>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'process_list_redirect' %}">Processes</a></li>
            <li class='active'>Create</li>
        </ol>
    </nav>

    <header>
        <h1 class="page-header">
            Create Process
            <div class="pull-right">
                <a href="{% url 'process_list_redirect' %}" class="btn btn-danger">Cancel</a>
            </div>
        </h1>
    </header>

    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-success" type="submit">Create</button>
    </form>

</main>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>
    <script src="{% static 'rangy/rangy-core.min.js' %}"></script>
    <script src="{% static 'hallo/dist/hallo.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/process_wizard.js' %}"></script>
    <script type="text/javascript">
        process_wizard.enable_rich_text('.hallo', 'form');
    </script>
{% endblock scripts %}
