{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}Process Types{% endblock title %}

{% block content %}

<main class="container">
    <nav>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'process_list_redirect' %}">Processes</a></li>
            <li class='active'>Process Types</li>
        </ol>
    </nav>

    <header>
        <h1 class="page-header">
            Process Types
            <div class="btn-toolbar pull-right">
                <a class="btn btn-primary" href="{% url 'processtype_create' %}">
                    {% bootstrap_icon 'plus' %}
                    Create Process Type
                </a>
                <a class="btn btn-primary"  href="{% url 'processcategory_create' %}">
                    {% bootstrap_icon 'plus' %}
                    Create Process Category
                </a>
            </div>
        </h1>
    </header>

    <div class="col-md-10">
        <div class="panel-group" id="categories">
            {% for category in process_categories %}
                <div class="panel panel-default{% if category.number != 0 %} panel-link{% endif %}">
                    <div class="panel-heading"{% if category.number != 0 %} data-toggle="collapse" data-parent="#categories" data-target="#{{category.slug}}"{% endif %}>
                        <span data-toggle="tooltip" data-placement="right" title="{{category.description}}">
                            <h4 class="panel-title">
                                {{category.name}}
                                <span class="badge">{{category.number}}</span>
                            </h4>
                        </span>
                    </div>
                    <div class="panel-collapse collapse{% if forloop.first %} in{% endif %}" id="{{category.slug}}">
                        <div class="list-group">
                            {% for process_type in category.processtypes.all %}
                                <a class="list-group-item"
                                   href="{% url 'processtype_detail' process_type.type %}"
                                   data-toggle="tooltip"
                                   data-placement="right"
                                   title="{{process_type.description}}">
                                        {{process_type.full_name}}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</main>

{% endblock content %}
