{% extends 'core/base.html' %}

{% block content %}
    <main class="container">
        <div class="page-header">
            <h1>Confirm deletion</h1>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete {{object.name}}?</p>
            <p>
                <a class="btn btn-success" href="{% url 'process_templates' slug='all' %}">Back</a>
                <button type="submit" class="btn btn-danger">
                    Delete
                </button>
            </p>
        </form>
    </main>

{% endblock %}
