{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}{{processtype.full_name}}{% endblock title %}

{% block content %}

<main class="container">
    <nav>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'process_list_redirect' %}">Processes</a></li>
            <li><a href="{% url 'processtype_list' %}">Process Types</a></li>
            <li class='active'>{{processtype.name}}</li>
        </ol>
    </nav>

    <header>
        <h1 class="page-header">
            {{processtype.full_name}} <small>{{processtype.name}}</small>
            <div class="pull-right">
                <small>{{processtype.category.name}}</small>
                <a href="{% url 'processtype_edit' processtype.type %}" class="btn btn-warning">
                    {% bootstrap_icon 'edit' %}
                    Edit
                </a>
                {% if processtype.configuration.core_scheduling_type == 'simple' %}
                    <a href="{% url 'reservation_create' %}" class="btn btn-success">
                        {% bootstrap_icon 'bookmark' %}
                        Create Reservation
                    </a>
                {% endif %}
            </div>
        </h1>
    </header>

    <div class="row">
        <div class="col-md-4">
            <p>{{processtype.description}}</p>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <h3 class="page-header">
                Recent {{processtype.name}} Processes
            </h3>
            <div class="list-group">
                {% for process in recent_processes %}
                    <a href="{% url 'process_detail' process.uuid %}" class="list-group-item">
                        {{process.uuid}}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="spacer-lg"></div>

</main>

{% endblock content %}
