{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}Process Types{% endblock title %}

{% block content %}

<main class="container">
    <nav>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'process_list' slug='all' username='all' %}">Processes</a></li>
            <li class='active'>Process Types</li>
        </ol>
    </nav>

    <header>
        <h1 class="page-header">
            Process Types
            <div class="btn-toolbar pull-right">
                <a class="btn btn-primary" href="{% url 'processtype_create' %}">
                    {% bootstrap_icon 'plus' %}
                    Create Process Type
                </a>
            </div>
        </h1>
    </header>

    <div class="panel-group" id="categories">
        {% for category in process_categories %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        {% if category.number == 0 %}
                            {{category.name}}
                            <span class="badge">{{category.number}}</span>
                        {% else %}
                            <a data-toggle="collapse" data-parent="#categories" href="#{{category.slug}}">
                                {{category.name}}
                            </a>
                            <span class="badge">
                                {{category.number}}
                            </span>
                        {% endif %}
                    </h4>
                </div>
                <div class="panel-collapse collapse{% if forloop.first %} in{% endif %}" id="{{category.slug}}">
                    <div class="list-group">
                        {% for processtype in category.processtypes.all %}
                            <a class="list-group-item"
                               href="{% url 'processtype_detail' processtype.type %}"
                               data-toggle="tooltip"
                               data-placement="left"
                               title="{{processtype.description}}">
                                    {{processtype.full_name}}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</main>

{% endblock content %}
