{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}Edit {{processtype.full_name}}{% endblock title %}

{% block header %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'jquery-ui/themes/base/minified/jquery-ui.min.css' %}">
{% endblock header %}

{% block content %}

<main class="container">
    <nav>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'processtype_list' %}">Process Types</a></li>
            <li><a href="{% url 'processtype_detail' processtype.type %}">{{processtype.name}}</a></li>
            <li class='active'>Edit</li>
        </ol>
    </nav>

    <header>
        <h1 class="page-header">
            Edit {{processtype.full_name}}
            <div class="pull-right">
                <a href="{% url 'processtype_detail' processtype.type %}" class="btn btn-default">
                    {% bootstrap_icon 'arrow-left' %}
                    Back
                </a>
            </div>
        </h1>
    </header>

    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-warning" type="submit">Update</button>
    </form>

</main>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>
    <script src="{% static 'rangy/rangy-core.min.js' %}"></script>
    <script src="{% static 'hallo/dist/hallo.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/process_wizard.js' %}"></script>
    <script type="text/javascript">
        process_wizard.enable_rich_text('.hallo', 'form');
    </script>
{% endblock scripts %}
