{% extends 'core/base.html' %}
{% load bootstrap3 %}
{% load wysiwyg %}

{% block title %}
Edit {{project}}
{% endblock title %}

{% block header %}
    {{form.media}}
{% endblock header %}

{% block content %}

<div class="container">
    <nav>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'project_list' %}">Projects</a></li>
            <li><a href="{% url 'project_detail_all' slug=project.slug %}">{{project}}</a></li>
            <li class='active'>Edit</li>
        </ol>
    </nav>

    <form action="{% url 'project_update' slug=project.slug %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
</div>

{% endblock content %}
