{% extends "core/base.html" %}

{% block title %}{{project}}{% endblock %}

{% block content %}
<main class="container">
    <nav>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'project_list' %}">Projects</a></li>
            <li class='active'>{{project}}</li>
        </ol>
    </nav>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="#feed" data-toggle="tab"><span class="glyphicon glyphicon-list"></span> Feed</a></li>
        <li><a href="#growths" data-toggle="tab"><span class="glyphicon glyphicon-file"></span> Growths</a></li>
        <li><a href="#characterization" data-toggle="tab"><span class="glyphicon glyphicon-signal"></span> Characterization</a></li>
    </ul>

    <div class="row tab-content">
        <div class="tab-pane fade in active" id="home">
            <header>
                <h1 class="page-header">{{project}}</h1>
            </header>
            <article>
                <p>{{project.description}}</p>
            </article>
        </div>
        <div class="tab-pane fade" id="feed">
            <header>
                <h1 class="page-header">Activity Feed</h1>
            </header>
            {% if stream %}
                <ul class="list-group">
                    {% for action in stream %}
                        <li class="list-group-item">{{action}}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No activity</p>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="growths">
            <header><h1 class="page-header">Recent Growths</h1></header>
            <div class="list-group">
            {% for growth in growths %}
                <a class="list-group-item" href="{% url 'growth_detail' growth.growth_number %}">{{growth}} <p class="pull-right">{{growth.date}}</p></a>
            {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="characterization">
            <header><h1 class="page-header">Recent Characterization</h1></header>
        </div>
    </div>

</main>
{% endblock %}
