{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}Sample Search{% endblock title %}

{% block header %}
    {% load staticfiles %}
    {{filter.form.media}}
{% endblock header %}

{% block content %}

<main class="container">
    <nav>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'sample_list' %}">Samples</a></li>
            <li class="active">Search</li>
        </ol>
    </nav>

    <div class="row">

        <div class="col-xs-6">
            <form action="" method="get" class="form">
                {% bootstrap_form filter.form %}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>

        <div class="list-group col-xs-6">
            {% for sample in filter %}
                <a href="{% url 'sample_detail' uuid=sample.uuid %}" class="list-group-item">
                    <div class="clearfix">
                        <h4 class="list-group-item-heading">
                            {{sample.uuid}}
                            {% if sample.pieces|length > 1 %}
                                <span class="badge">{{sample.pieces|length}} Pieces</span>
                            {% endif %}
                        </h4>

                        {% for process in sample.processes|slice:':7' %}
                            <span class="label label-default label-process"
                                  data-toggle="tooltip"
                                  data-html="true"
                                  title="{{process.created|date}}<p>{{process.comment|escape|truncatewords:50}}</p>">
                                {{process.name}}
                            </span>
                        {% endfor %}
                        {% if sample.processes|length > 7 %}
                            <span class="label label-default label-process"
                                  data-toggle="tooltip"
                                  title="{{sample.processes|length|add:'-7'}} other processes">
                                ...
                            </span>
                        {% endif %}

                        <p class="list-group-item-text">
                            {{sample.comment|safe|truncatewords:50}}
                            <div class="pull-right">
                                <small><strong>Created: </strong>{{sample.created.date}}</small>
                            </div>
                        </p>
                    </div>
                </a>
            {% endfor %}
        </div>

    </div>

</main>

{% endblock content %}
