{% extends "core/base.html" %}

{% load mptt_tags %}
{% load bootstrap3 %}

{% block title %}{{sample.uuid}}{% endblock title %}

{% block content %}

<main class="container">
    <nav>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'sample_list' %}">Samples</a></li>
            <li class='active'>{{sample.uuid}}</li>
        </ol>
    </nav>

    <header>
        <h1 class="page-header">
            {{sample}}
            <div class="pull-right">
                <a href="{% url 'export_sample' uuid=sample.uuid %}" class="btn btn-info">
                    {% bootstrap_icon 'file' %}
                    Export
                </a>
                {% if sample.pieces|length = 1 %}
                <button type="button"
                        class="btn btn-warning"
                        href="#"
                        title="<strong>Split this Sample</strong>"
                        data-placement="left"
                        data-toggle="popover"
                        data-html="true"
                        data-content="{% include 'core/sample_split_original.html' %}">
                    Split
                </button>
                {% endif %}
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        {% bootstrap_icon 'plus' %}
                        Add Process
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'process_autocreate' uuid=sample.uuid %}">
                            Run Process
                        </a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'sem_autocreate' uuid=sample.uuid %}">
                            Add SEM Images
                        </a></li>
                        <li><a href="{% url 'afm_autocreate' uuid=sample.uuid %}">
                            Add AFM Scans
                        </a></li>
                        <!--<li><a href="#">Separated link</a></li>-->
                    </ul>
                </div>
                <a href="{% url 'sample_edit' uuid=sample.uuid %}" class="btn btn-warning">
                    {% bootstrap_icon 'edit' %}
                    Edit
                </a>
            </div>
        </h1>
    </header>

    <div>
        <p>Created on {{sample.created}}</p>
        <p>Last modified on {{sample.modified}}</p>
        {% if sample.comment %}
            <p>{{sample.comment|escape|safe}}</p>
        {% else %}
            <div class="alert alert-warning">
                <h3>This sample doesn't have a comment</h3>
                <p>Get started by adding a comment.</p>
                <div class="top-spacer-sm">
                    <a href="{% url 'sample_edit' uuid=sample.uuid %}" class="btn btn-warning">
                    {% bootstrap_icon 'edit' %}
                    Edit
                    </a>
                </div>
            </div>
        {% endif %}
        <div>
            <h3 class="page-header">
                Substrate
                <small>{{sample.substrate.serial}}</small>
            </h3>
            <p>Source: {{sample.substrate.source}}</p>
            <p>Comment: {{sample.substrate.comment|escape|safe}}</p>
            <p>Created on {{sample.substrate.created}}</p>
            <p>Last modified on {{sample.substrate.modified}}</p>
        </div>
        {% if sample.nodes.count <= 1 %}
            <div class="alert alert-warning">
                <h3>This sample hasn't had any processes run on it.</h3>
                <p>Get started by running a new or existing process.</p>
                <div class="top-spacer-sm">
                    <a href="{% url 'process_autocreate' uuid=sample.uuid %}" class="btn btn-primary right-spacer-xs">
                        {% bootstrap_icon 'plus' %}
                        Run Process
                    </a>
                </div>
            </div>
        {% else %}
            <div>
                <h3 class="page-header">Processes</h3>
                <ul>
                    {% recursetree sample.nodes %}
                            {% if not node.is_root_node %}
                                <li>
                                    {{node.process.type.name}}
                                    (<a href="{% url 'process_detail' uuid=node.process.uuid %}"
                                        data-toggle="tooltip"
                                        data-html="true"
                                        data-placement="left"
                                        title="<h5><strong>{{node.process.title}}</strong></h5>{{node.process.comment|escape|truncatewords:50}}">
                                            {{node.process.uuid}}
                                     </a>{% if node.process.legacy_identifier %}, {{node.process.legacy_identifier}}{% endif %}
                                    )
                                    by {{node.process.user.get_full_name}}
                                    on {{node.process.created}}
                            {% endif %}
                            {% if not node.is_leaf_node %}
                                {% if node.is_root_node %}
                                    {{children}}
                                {% else %}
                                    <ul>
                                        {{children}}
                                    </ul>
                                </li>
                                {% endif %}
                            {% else %}
                                    <button type="button"
                                            class="btn btn-xs btn-warning"
                                            href="#"
                                            title="<strong>Split this Sample</strong>"
                                            data-placement="right"
                                            data-toggle="popover"
                                            data-html="true"
                                            data-content="{% include 'core/sample_split.html' %}">
                                        Split Piece {{node.piece}}
                                    </button>
                                </li>
                            {% endif %}
                    {% endrecursetree %}
                </ul>
            </div>
        {% endif %}
    </div>

</main>

{% endblock content %}
