{% load mptt_tags %}
{% load bootstrap3 %}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}

    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/wbg.css' %}" rel="stylesheet">
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block header %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>

    <!-- HTML5/CSS3 support on older IE -->
    <!--[if lt IE 9]>
        <script src="https://oss.msxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.msxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

{% block content %}
<body>
    <div class="text-center">
        <h1>
            <strong><u>Sample Detail</u></strong>
        </h1>
    </div>
    <div>
        <h2>
            Sample: &emsp; <span class="label label-default">{{sample.uuid}}</span>
        </h2>
        {{ sample.comment|escape|safe }}
    </div>
    <div>
        <h3 class="page-header">
            Substrate
            <small>{{sample.substrate.serial}}</small>
        </h3>
        <p>Source: {{sample.substrate.source}}</p>
        <p>Created on {{sample.substrate.created}}</p>
        <p>Last modified on {{sample.substrate.modified}}</p>
        {% if sample.substrate.comment %}
            <p>Comment: {{sample.substrate.comment|escape|safe}}</p>
        {% endif %}
    </div>
        {% if sample.nodes.count <= 1 %}
            <div class="alert alert-warning">
                <h3>This sample hasn't had any processes run on it.</h3>
            </div>
        {% else %}
            <div>
                <h3 class="page-header">Processes</h3>
                <ul>
                    {% recursetree sample.nodes %}
                            {% if not node.is_root_node %}
                                <li>
                                    {{node.process.name}}
                                    ({{ node.process.uuid }}
                                    {% if node.process.legacy_identifier %}, {{node.process.legacy_identifier}}{% endif %}
                                    )
                                    by {{node.process.user.get_full_name}}
                                    on {{node.process.created}}
                                    {% if node.process.comment %}
                                    <div class="well well-sm">
                                        {{ node.process.comment|escape|safe }}
                                    </div>
                                    {% endif %}
                            {% endif %}
                            {% if not node.is_leaf_node %}
                                {% if node.is_root_node %}
                                    {{children}}
                                {% else %}
                                    <ul>
                                        {{children}}
                                    </ul>
                                </li>
                                {% endif %}
                            {% else %}
                                </li>
                            {% endif %}
                    {% endrecursetree %}
                </ul>
            </div>
        {% endif %}
</body>
{% endblock %}
