{% extends "core/base.html" %}

{% load mptt_tags %}

{% block title %}{{sample.uuid}}{% endblock title %}

{% block content %}

<main class="container">
    <nav>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'sample_list' %}">Samples</a></li>
            <li class='active'>{{sample.uuid}}</li>
        </ol>
    </nav>

    <header>
        <h1 class="page-header">
            {{sample}}
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="{% url 'sem_autocreate' uuid=sample.uuid %}">Add SEM Images</a></li>
                      <!--<li class="divider"></li>-->
                      <!--<li><a href="#">Separated link</a></li>-->
                    </ul>
                </div>
                <a href="{% url 'sample_edit' uuid=sample.uuid %}" class="btn btn-warning">Edit</a>
            </div>
        </h1>
    </header>

    <div>
        <h3 class="page-header">Sample Details</h3>
        <p>UUID: {{sample.uuid}}</p>
        <p>Created: {{sample.created}}</p>
        <p>Modified: {{sample.modified}}</p>
        <p>Comment: {{sample.comment|safe}}</p>
        {% if sample.nodes.count <= 1 %}
            <div class="alert alert-warning">
                <h3>This sample hasn't had any processes run on it.</h3>
                <p>Get started by running a new or existing process.</p>
                <div class="top-spacer-sm">
                    <a href="#" class="btn btn-primary right-spacer-xs">
                        <span class="glyphicon glyphicon-plus"></span>
                        Run Process
                    </a>
                </div>
            </div>
        {% else %}
            <p>Processes:
                <ul>
                    {% recursetree sample.nodes %}
                            {% if not node.is_root_node %}
                                <li>
                                    {{node.process.name}}
                                    (<a href="{% url 'process_detail' uuid=node.process.uuid %}">{{node.process.uuid}}</a>)
                                    on {{node.process.created}}
                            {% endif %}
                            {% if not node.is_leaf_node %}
                                {% if node.is_root_node %}
                                    {{children}}
                                {% else %}
                                    <ul>
                                        {{children}}
                                    </ul>
                                </li>
                                {% endif %}
                            {% else %}
                                </li>
                            {% endif %}
                    {% endrecursetree %}
                </ul>
            </p>
        {% endif %}
    </div>

</main>

{% endblock content %}
