{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load wysiwyg %}

{% block title %}Growth Readings{% endblock title %}

{% block header %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'jquery-ui/themes/base/minified/jquery-ui.min.css' %}">
{% endblock header %}


{% block content %}

<div class="container">

    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <img class="img-wizard" src="{% static 'growths/img/readings-progress.png' %}" />
        </div>
    </div>



    <form action="" method="POST">
        <h1 class="page-header">
            Readings for {{growth.uuid}} ({{growth.legacy_identifier}})
            <div class="pull-right">
                <span data-toggle="tooltip" data-placement="bottom" title="Cancel Growth">
                    <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#cancel-modal">
                        {% bootstrap_icon 'remove' %}
                    </button>
                </span>
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#sample-modal">
                    <span class="fa fa-archive"></span>
                    Samples
                </button>
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#comment-modal">
                    {% bootstrap_icon 'pencil' %}
                    Comments
                </button>
                <span data-toggle="tooltip" data-placement="bottom" title="Refresh">
                    <button class="btn btn-info" type="submit">
                        {% bootstrap_icon 'refresh' %}
                    </button>
                </span>
                <span data-toggle="tooltip" data-placement="bottom" title="Submit Changes">
                    <button class="btn btn-success next-tab-main" type="submit" id="submit-button">
                        {% bootstrap_icon 'ok' %}
                        Submit
                    </button>
                </span>
                <a class="btn btn-success" href="{% url 'create_growth_d180_postrun' %}">
                    Finish Growth
                    {% bootstrap_icon 'chevron-right' %}
                </a>
            </div>
        </h1>
        {% csrf_token %}
        {{readings_formset.management_form}}

        <div class="row">
            {% for form in readings_formset %}
                <div class="col-xs-2">
                    {% bootstrap_form form %}
                </div>
            {% endfor %}
        </div>

        {# submit form modal #}
        <div class="modal fade" id="submit-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Are You Sure You Want to Continue?</h4>
                    </div>
                    <div class="modal-body">
                        WARNING: Any unsubmitted changes will NOT be saved!!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-warning">Update Readings and Comments</button>
                        <a class="btn btn-success pull-right" href="#">Go to Post-run</a>
                    </div>
                </div>
            </div>
        </div>

        {# comments modal #}
        <div class="modal fade" id="comment-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="commentsModalLabel">Edit comments</h4>
                    </div>
                    <div class="modal-body">
                        {% bootstrap_form comment_form %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Done</button>
                    </div>
                </div>
            </div>
        </div>

    </form>

    {# samples modal #}
    <div class="modal fade" id="sample-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Samples</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <td><strong>Number</strong></td>
                                <td><strong>UUID</strong></td>
                                <td><strong>Substrate</strong></td>
                                <td><strong>Serial</strong></td>
                                <td><strong>Comment</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sample, node in sample_info %}
                                <tr>
                                    <td>{{node.number}}</td>
                                    <td>
                                        {{sample.uuid}}{% if sample.pieces|length > 1 %}{{node.piece}}{% endif %}
                                    </td>
                                    <td>{{sample.substrate.comment|escape|safe}}</td>
                                    <td>{{sample.substrate.serial}}</td>
                                    <td>{{sample.comment|escape|safe}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>

    {# cancel modal #}
    <div class="modal fade" id="cancel-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h1 class="modal-title">Cancel Growth</h1>
                </header>
                <div class="modal-body">
                    <strong>Warning:</strong> This will cancel the current growth. You should do this if you needed to abort the growth prior to any readings being taken.
                </div>
                <div class="modal-footer">
                    <a href="{% url 'create_growth_d180_cancel' %}" class="btn btn-danger">Cancel Growth</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Go Back</button>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>
    <script src="{% static 'rangy/rangy-core.min.js' %}"></script>
    <script src="{% static 'hallo/dist/hallo.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/process_wizard.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            process_wizard.enable_rich_text('.hallo', 'form');
        });
    </script>
{% endblock scripts %}
