<body>
<h1>Growths</h1>

<form action="" method="GET">
    {{filter.form.as_p}}
    <button type="submit">search</button>
</form>

<div>
    {% for growth in filter %}
    <a href="{% url 'growth_detail' slug=growth.growth_number %}">{{growth}}</a>
    <ul style="{list-style-type:none;}">
        {% for afm in growth.afm_set.all %}
        <li style="{display:inline}">
            <a href="{% url 'afm_detail' pk=afm.id %}">{{afm}}</a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>

</body>
