{% extends "core/base.html" %}

{% load bootstrap3 %}

{% block title %}Search{% endblock %}

{% block content %}

<div class="container">
  <h2 class="page-header">Search Results</h2>
  <div class="col-md-3"></div>
  <div class="col-md-9">
    <div class="list-group">
      {% for item in search_query %}
        <a class="list-group-item" href="{% url 'process_detail' uuid=item.uuid %}">
          <h4 class="list-group-item-heading">
            {{ item.uuid }}{% if item.legacy_identifier %} ({{ item.legacy_identifier }}){% endif %}
          </h4>
          <p class="list-group-item-text">
            <strong>{{ item.title }}</strong>
            {{ item.comment|safe }}
          </p>
        </a>
      {% endfor %}
    </div>

  </div>

</div>

{% endblock %}
