{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}Create Growth{% endblock %}

{% block content %}
<div class="container">
<h1>Create Growth</h1>

<form action="{% url 'create_growth' %}" method="POST">
    {% csrf_token %}
    <div class="row">
    <div class="col-xs-5">
    <ul>
        {% bootstrap_form gform %}
    </ul>
    </div>
    </div>
    <div class="row">
    <div class="col-xs-4">
    <h2> Sample 1 </h2>
    <ul>
        {% bootstrap_form pf_1 %}
        {% bootstrap_form sform_1 %}
    </ul>
    </div>
    <div class="col-xs-4">
    <h2> Sample 2 </h2>
    <ul>
        {% bootstrap_form pf_2 %}
        {% bootstrap_form sform_2 %}
    </ul>
    </div>
    <div class="col-xs-4">
    <h2> Sample 3 </h2>
    <ul>
        {% bootstrap_form pf_3 %}
        {% bootstrap_form sform_3 %}
    </ul>
    </div>
    </div>
    <div class="row">
    <div class="col-xs-4">
    <h2> Sample 4 </h2>
    <ul>
        {% bootstrap_form pf_4 %}
        {% bootstrap_form sform_4 %}
    </ul>
    </div>
    <div class="col-xs-4">
    <h2> Sample 5 </h2>
    <ul>
        {% bootstrap_form pf_5 %}
        {% bootstrap_form sform_5 %}
    </ul>
    </div>
    <div class="col-xs-4">
    <h2> Sample 6 </h2>
    <ul>
        {% bootstrap_form pf_6 %}
        {% bootstrap_form sform_6 %}
    </ul>
    </div>
    </div>


    <button class="btn btn-success pull-right" id="create_growth" type="submit" name="creategrowthform">Create Growth</button>


</form>

<a class="btn btn-default" href="{% url 'home' %}">back</a>
</div>
<p> </p>
{% endblock %}

