{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}Create Growth Postrun{% endblock %}
{% block header %}
    {% load staticfiles %}

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <img style="width:100%;" src="{% static 'growths/img/postrun-progress.jpg' %}"></img>
        </div>
    </div>
    <h1>Post-run Growth Info & Checklist <button class="btn btn-info pull-right" type="button" data-toggle="modal" data-target="#commentsmodal">Edit Comments</button></h1>
    
    <div id="content">
        <ul id="tabs" class="nav nav-tabs" role="tablist">
            <li class="active"><a role="tab" data-toggle="tab" href="#checklist">Checklist</a></li>
            <li><a role="tab" data-toggle="tab" href="#source">Source Info</a></li>
        </ul>
    
        <form class="tab-content" action="{% url 'create_growth_postrun' %}" method="POST">
        {% csrf_token %}
        <div class="tab-pane fade in active" id="checklist">
            <h2>Growth Information</h2>
            <div class="row">
                <div class="col-xs-5">
                    {% bootstrap_form prcform %}
                </div>
            </div>
            <a class="btn btn-success pull-right next-tab" role="tab" data-toggle="tab" href="#source">Continue to Source Info</a>
        </div>
        <div class="tab-pane fade" id="source">
            <h2>Source Consumption</h2>
            <div class="row">
                <div class="col-xs-4">
                    {% bootstrap_form prsform %}
                </div>
            </div>
            <button class="btn btn-success pull-right" data-toggle="modal" type="button" data-target="#myModal">
            Submit and Complete Growth
            </button>     
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Are You Sure You Want to Continue?</h4>
                    </div>
                    <div class="modal-body">
                        WARNING: Make sure all forms are filled out correctly - if you leave this page you will not be able to go back!!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-success pull-right" id="create_growth_postrun" type="submit" name="creategrowthpostrunform">Submit and Complete Growth</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="commentsmodal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="commentsModalLabel">Edit comments</h4>
                    </div>
                    <div class="modal-body">
                        {% bootstrap_form commentsform %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Done</button>
                    </div>
                </div>
            </div>
        </div>

        </form>
    </div>
      
</div>
<script>
  $(function () {
    $('.next-tab').click(function () {
        $('#tabs > li.active').removeClass('active').next().addClass('active');
    })
  })
</script>
<br>
{% endblock %}

