{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}Create Growth Prerun{% endblock %}

{% block header %}
    {% load staticfiles %}

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <img class="img-wizard" src="{% static 'growths/img/prerun-progress.png' %}" />
        </div>
    </div>
    <h1 class="page-header">
        Pre-run Growth Info &amp; Checklist for {{growth}}
        <div class="pull-right">
            <button class="btn btn-info" type="button" data-toggle="modal" data-target="#commentsmodal">Edit Comments</button>
        </div>
    </h1>

    <div class="tabbable">
        <ul id ="maintablist" class="nav nav-tabs">
            <li class="active"><a role="tab" data-toggle="tab" href="#growth">Growth Info</a></li>
            <li><a role="tab" data-toggle="tab" href="#samples">Sample Info</a></li>
            <li><a role="tab" data-toggle="tab" href="#checklist">Checklist</a></li>
            <li><a role="tab" data-toggle="tab" href="#source">Source Info</a></li>
        </ul>

        <form class="tab-content" action="{% url 'create_growth_prerun' %}" method="POST">
        {% csrf_token %}
        <div class="tab-content">
            <div class="tab-pane fade active in" id='growth'>
                <h2>Growth Information</h2>
                <div class="row">
                    <div class="col-xs-5">
                        {% bootstrap_form pgform %}
                    </div>
                </div>
                <a class="btn btn-success pull-right next-tab-main" role="tab" data-toggle="tab" href="#samples">Add Sample Info</a>
            </div>

            <div class="tab-pane fade" id="samples">
                <div class="tabbable">
                    <ul id="sampletablist" class="nav nav-tabs">
                        <li class="active"><a role="tab" data-toggle="tab" href="#sample1">Sample 1</a>
                        </li>
                        <li><a role="tab" data-toggle="tab" href="#sample2">Sample 2</a>
                        </li>
                        <li><a role="tab" data-toggle="tab" href="#sample3">Sample 3</a>
                        </li>
                        <li><a role="tab" data-toggle="tab" href="#sample4">Sample 4</a>
                        </li>
                        <li><a role="tab" data-toggle="tab" href="#sample5">Sample 5</a>
                        </li>
                        <li><a role="tab" data-toggle="tab" href="#sample6">Sample 6</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="sample1">
                            <div class="row">
                                <div class="col-xs-5">
                                    <h3>Sample 1</h3>
                                    {% bootstrap_form pf_1 %}
                                    {% bootstrap_form sform_1 %}
                                </div>
                            </div>

                            <a class="btn btn-primary next-tab-samples" role="tab" data-toggle="tab" href="#sample2">Add Another Sample</a>
                            <a class="btn btn-success pull-right next-tab-main" role="tab" data-toggle="tab" href="#checklist">Continue to Checklist</a>

                        </div>
                        <div class="tab-pane fade" id="sample2">
                            <div class="row">
                                <div class="col-xs-5">
                                    <h3>Sample 2</h3>
                                    {% bootstrap_form pf_2 %}
                                    {% bootstrap_form sform_2 %}
                                </div>
                            </div>
                            <a class="btn btn-primary next-tab-samples" role="tab" data-toggle="tab" href="#sample3">Add Another Sample</a>
                            <a class="btn btn-success pull-right next-tab-main" role="tab" data-toggle="tab" href="#checklist">Continue to Checklist</a>
                            <br>
                        </div>
                        <div class="tab-pane fade" id="sample3">
                            <div class="row">
                                <div class="col-xs-5">
                                    <h3>Sample 3</h3>
                                    {% bootstrap_form pf_3 %}
                                    {% bootstrap_form sform_3 %}
                                </div>
                            </div>
                            <a class="btn btn-primary next-tab-samples" role="tab" data-toggle="tab" href="#sample4">Add Another Sample</a>
                            <a class="btn btn-success pull-right next-tab-main" role="tab" data-toggle="tab" href="#checklist">Continue to Checklist</a>
                        </div>
                        <div class="tab-pane fade" id="sample4">
                            <div class="row">
                                <div class="col-xs-5">
                                    <h3>Sample 4</h3>
                                    {% bootstrap_form pf_4 %}
                                    {% bootstrap_form sform_4 %}
                                </div>
                            </div>
                            <a class="btn btn-primary next-tab-samples" role="tab" data-toggle="tab" href="#sample5">Add Another Sample</a>
                            <a class="btn btn-success pull-right next-tab-main" role="tab" data-toggle="tab" href="#checklist">Continue to Checklist</a>
                        </div>
                        <div class="tab-pane fade" id="sample5">
                            <div class="row">
                                <div class="col-xs-5">
                                    <h3>Sample 5</h3>
                                    {% bootstrap_form pf_5 %}
                                    {% bootstrap_form sform_5 %}
                                </div>
                            </div>
                            <a class="btn btn-primary next-tab-samples" role="tab" data-toggle="tab" href="#sample6">Add Another Sample</a>
                            <a class="btn btn-success pull-right next-tab-main" role="tab" data-toggle="tab" href="#checklist">Continue to Checklist</a>
                        </div>
                        <div class="tab-pane fade" id="sample6">
                            <div class="row">
                                <div class="col-xs-5">
                                    <h3>Sample 6</h3>
                                    {% bootstrap_form pf_6 %}
                                    {% bootstrap_form sform_6 %}
                                </div>
                            </div>
                            <a class="btn btn-success pull-right next-tab-main" role="tab" data-toggle="tab" href="#checklist">Continue to Checklist</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="checklist">
                <h2>Pre-run Checklist</h2>
                <div class="row">
                    <div class="col-xs-5">
                        {% bootstrap_form pcform %}
                    </div>
                </div>
                <a class="btn btn-success pull-right next-tab-main" role="tab" data-toggle="tab" href="#source">Continue to Source Info</a>
            </div>
            <div class="tab-pane fade" id="source">
                <h2>Source Consumption</h2>
                <div class="row">
                    <div class="col-xs-4">
                        {% bootstrap_form sourceform %}
                    </div>
                </div>                
                
                <button class="btn btn-success pull-right" type="button" data-toggle="modal" data-target="#myModal">
                Submit and Continue on to readings
                </button>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Are You Sure You Want to Continue?</h4>
                            </div>
                            <div class="modal-body">
                                WARNING: If you click submit you will NOT be able to return to this page!!
                                (If any form is incomplete you will not be able to continue)
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-success pull-right" id="create_growth" type="submit" name="creategrowthform">Submit and Continue to Readings</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="modal fade" id="commentsmodal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="commentsModalLabel">Edit comments</h4>
                    </div>
                    <div class="modal-body">
                        {% bootstrap_form commentsform %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Done</button>
                    </div>
                </div>
            </div>
        </div>           
        </form>
    </div>

</div>
<script>
  $(function () {
    $('.next-tab-main').click(function () {
        $('#maintablist > li.active').removeClass('active').next().addClass('active');
    })
    $('.next-tab-samples').click(function () {
        $('#sampletablist > li.active').removeClass('active').next().addClass('active');
    })
  })
</script>
<br>
{% endblock %}
