{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load wysiwyg %}

{% block title %}Start Growth{%endblock%}
{% block header %}
    {% load staticfiles %}
    {{commentsform.media}}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <img class="img-wizard" src="{% static 'growths/img/start-progress.png' %}" />
        </div>
    </div>
    <h1 class="page-header">
        Start Growth
        <div class="pull-right">
            <a href="{% url 'dashboard' %}" class="btn btn-danger">Cancel Growth</a>
            <button class="btn btn-info" type="button" data-toggle="modal" data-target="#commentsmodal">Edit Comments</button>
        </div>
    </h1>

    <form action="" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-xs-5">
        <ul>
        {% bootstrap_form cgsform %}
        </ul>
        </div>
    </div>       
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Are You Sure You Want to Continue?</h4>
                </div>
                <div class="modal-body">
                    WARNING: If you start a new growth now you will NOT be able to return to this page!!
                    {{ reservation_object }}
                    {% bootstrap_form reservation_form %} Close reservation by {{ reservation_object.user.operator.name }} for XX?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success pull-right" id="create_growth_start" type="submit" name="creategrowthstart">Start New Growth</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="commentsmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="commentsModalLabel">Edit comments</h4>
                </div>
                <div class="modal-body">
                    {% bootstrap_form commentsform %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>

        
    </form>

    <button class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal">
    Start New Growth
    </button>
    <a class="btn btn-default" href="{% url 'home' %}">Back</a>

</div>
<br>
{% endblock %}

