{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}Create Growth Readings{%endblock%}

{% block content %}

<div class="container">
    <h2>Create Growth Readings {{growth}} <button class="btn btn-warning pull-right" id="create_growth_readings" type="submit" name="creategrowthreadingsform">Update Readings</button></h2>
    <form action="" method="POST">
    {% csrf_token %}
    <div class="row">
        {% for reading in readingslist %}
        <div class="col-xs-2">
            {% bootstrap_form reading %}
        </div>
        {% endfor %}
    </div>
    </form>
    <div class="row">
        <a class="btn btn-danger" href="{% url 'home' %}">Home</a>
        <a class="btn btn-success pull-right" href="{% url 'create_growth_postrun' %}">Go to Post-run</a>
    </div>
</div>
<br>
{% endblock %}

