{% extends "core/base.html" %}

{% block title %}create growth{% endblock %}

{% block content %}

<h1>Create Growth</h1>

<form action="{% url 'create_growth' %}" method="POST">
    {% csrf_token %}
    <ul>
        {{ gform.as_ul }}
    </ul>
    <h2> Sample 1 </h2>
    <ul>
        {{ sform_1.as_ul }}
    </ul>
    <h2> Sample 2 </h2>
    <ul>
        {{ sform_2.as_ul }}
    </ul>
    <h2> Sample 3 </h2>
    <ul>
        {{ sform_3.as_ul }}
    </ul>
    <h2> Sample 4 </h2>
    <ul>
        {{ sform_4.as_ul }}
    </ul>
    <h2> Sample 5 </h2>
    <ul>
        {{ sform_5.as_ul }}
    </ul>
    <h2> Sample 6 </h2>
    <ul>
        {{ sform_6.as_ul }}
    </ul>
    <input id="save_growth" type="submit" value="Save" name="gform"/>
</form>

<a href="{% url 'home' %}">back</a>
{% endblock %}


