{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load wysiwyg %}

{% block title %}Create Growth Readings{% endblock title %}

{% block header %}
    {% load staticfiles %}
    <script src="{% static 'growths/js/jquery-ui.js' %}"></script>
    <script src="{% static 'growths/js/rangy-core.js' %}"></script>
    <script src="{% static 'growths/js/hallo.js' %}"></script>
    <link rel="stylesheet" href="{% static 'growths/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/font-awesome.css' %}">
{% endblock header %}


{% block content %}

<div class="container">

    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <img class="img-wizard" src="{% static 'growths/img/readings-progress.png' %}" />
        </div>
    </div>

    <h1 class="page-header">
        Readings for {{growth}}
        <div class="pull-right">
            <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#cancel-modal">
                {% bootstrap_icon 'remove' %}
                Cancel
            </button>
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#sample-modal">
                Samples
                {% bootstrap_icon 'file' %}
            </button>
            <button class="btn btn-info" type="button" data-toggle="modal" data-target="#comment-modal">
                {% bootstrap_icon 'pencil' %}
                Edit Comments
            </button>
            <button class="btn btn-success next-tab-main" type="button" data-toggle="modal" data-target="#submit-modal">
                Submit
                {% bootstrap_icon 'ok' %}
            </button>
        </div>
    </h1>


    <form action="" method="POST">
        {% csrf_token %}
        {{readings_formset.management_form}}

        {% bootstrap_formset readings_formset layout='inline' %}

        {# submit form modal #}
        <div class="modal fade" id="submit-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Are You Sure You Want to Continue?</h4>
                    </div>
                    <div class="modal-body">
                        WARNING: Any unsubmitted changes will NOT be saved!!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-warning">Update Readings and Comments</button>
                        <a class="btn btn-success pull-right" href="#">Go to Post-run</a>
                    </div>
                </div>
            </div>
        </div>

        {# comments modal #}
        <div class="modal fade" id="comment-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="commentsModalLabel">Edit comments</h4>
                    </div>
                    <div class="modal-body">
                        {% bootstrap_form comment_form %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Done</button>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <div class="modal fade" id="cancel-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h1 class="modal-title">Cancel Growth</h1>
                </header>
                <div class="modal-body">
                    <strong>Warning:</strong> This will cancel the current growth. You should do this if you needed to abort the growth prior to any readings being taken.
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-danger">Cancel Growth</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Go Back</button>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}
