{% extends "core/base.html" %}

{% block title %}{{growth}}{%endblock%}

{% block content %}

<div class="container">
    <h1>{{growthobject}}</h1>

    <h3>Growth Info</h3>
    <p>Date: {{growthobject.date}}</p>
    <p>Operator: {{growthobject.operator}}</p>
    <p>Project: {{growthobject.project}}</p>
    <p>Investigation: {{growthobject.investigation}}</p>
    <p>Platter: {{growthobject.platter}}</p>
    <p>Reactor: {{growthobject.reactor}}</p>
    <p>Comments: {{growthobject.run_comments}}</p>

    <h3>Materials</h3>
    <ul>
        {% if growthobject.has_gan %}<li>GaN</li>{% endif %}
        {% if growthobject.has_aln%}<li>AlN</li>{% endif %}
        {% if growthobject.has_inn %}<li>InN</li>{% endif %}
        {% if growthobject.has_algan %}<li>AlGaN</li>{% endif %}
        {% if growthobject.has_ingan %}<li>InGaN</li>{% endif %}
        {% if growthobject.has_alingan %}<li>AlInGaN</li>{% endif %}
    </ul>

    <h3>Metadata</h3>
    <ul>
        {% if growthobject.is_template %}<li>Template</li>{% endif %}
        {% if growthobject.is_buffer %}<li>Buffer</li>{% endif %}
        {% if growthobject.has_superlattice %}<li>Has superlattice</li>{% endif %}
        {% if growthobject.has_mqw %}<li>Has MQW</li>{% endif %}
        {% if growthobject.has_graded %}<li>Has graded layer</li>{% endif %}
        {% if growthobject.has_n %}<li>Has n-doped layer</li>{% endif %}
        {% if growthobject.has_p %}<li>Has p-doped layer</li>{% endif %}
        {% if growthobject.has_u %}<li>Has undoped layer</li>{% endif %}
    </ul>

    <h3>Samples</h3>
        {% for sample in samples %}
        <a href="{% url 'sample_detail' sample.id %}">Sample: {{sample.id}}</a>
        <p>Growth: {{sample.growth}} | Pocket: {{sample.pocket}} | Piece: {{sample.piece}} | Size: {{sample.size}} | Substrate Type: {{sample.substrate_type}} | Serial Number: {{sample.substrate_serial}} | Location: {{sample.location}} | Orientation: {{sample.substrate_orientation}} | Miscut: {{sample.substrate_miscut}}</p>
        {% endfor %}
    

    <a class="btn btn-default" href="{% url 'afm_filter' %}">Back</a>
</div>

{% endblock %}
