{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}Growth Filter{% endblock %}
{% block header %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'growths/css/filter.css' %}">
    {{filter.form.media}}
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="page-header">Growths</h3>

        <div class="row">
            <div class="col-sm-6">
                <form action="" method="GET">
                    <button class="btn btn-primary" type="submit">Search</button>
                    {% bootstrap_form filter.form %}
                </form>
            </div>
            <div class="col-sm-6">
                <h4 class="page-header">
                    Results
                    <span class="badge">{{filter.count}}</span>
                    <small class="pull-right"><a href="{% url 'afm_filter' %}">Reset</a></small>
                </h4>
                <ul class="list-group">
                {% for growth in filter %}
                    <li class="list-group-item">
                        <a href="{% url 'growth_detail' slug=growth.growth_number %}">{{growth}}</a>
                        <p class="pull-right">{{growth.date}}</p>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
