{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}{{growth}} Readings{%endblock%}

{% block content %}

<div class="container">
    <header>
        <ol class="breadcrumb">
            <li><a href="{% url 'profile_dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'growth_detail' growth %}">{{growth}}</a></li>
            <li class="active">Readings</li>
        </ol>

        <h1 class="page-header">
            Readings for {{growth}}
            <div class="pull-right">
                <a href="{% url 'update_readings' growth %}" class="btn btn-warning">Edit</a>
            </div>
        </h1>
    </header>
    
    <section class="row">
        <table class="table table-striped table-bordered table-hover table-condensed">
            {% for row in readings_table %}
                {% if forloop.first %}
                    <thead>
                        <tr>
                            {% for col in row %}
                                <td><strong>{{col}}</strong></td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                {% elif forloop.last %}
                        <tr>
                            {% for col in row %}
                                {% if forloop.first %}
                                    <td><strong>{{col}}</strong></td>
                                {% else %}
                                    <td>{{col}}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </tbody>
                {% else %}
                    <tr>
                        {% for col in row %}
                            {% if forloop.first %}
                                <td><strong>{{col}}</strong></td>
                            {% else %}
                                <td>{{col}}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </section>

</div>

{% endblock %}
