{% extends "core/base.html" %}

{% block title %}{{growthobject}} Recipe{%endblock%}

{% block content %}

<div class="container">
    <h1><a href="{% url 'growth_detail' growthobject %}">{{growthobject}}</a> recipe</h1>
        <div class="row">
            {% for recipe in recipes %}
            <div class="col-xs-2">
            <h3>Layer: {{recipe.layer_num}}</h3>
            <p><strong>Loop Number: </strong>{{recipe.loop_num}}</p>
            <p><strong>Loop Repeats: </strong>{{recipe.loop_repeats}}</p>
            <p><strong>Time: </strong>{{recipe.time}}</p>
            <p><strong>cp2mg flow: </strong>{{recipe.cp2mg_flow}}</p>
            <p><strong>tmin flow 1/2: </strong>{{tmin1_flow}}/{{tmin2_flow}}</p>
            <p><strong>tmga flow 1/2: </strong>{{tmga1_flow}}/{{tmga2_flow}}</p>
            <p><strong>tmal flow: </strong>{{tmal1_flow}}</p>
            <p><strong>tega flow: </strong>{{tega1_flow}}</p>
            <p><strong>cp2mg press: </strong>{{cp2mg_press}}</p>
            <p><strong>tmin press 1/2: </strong>{{tmin_press}}/{{tmin2_press}}</p>
            <p><strong>tmga press 1/2: </strong>{{tmga1_press}}/{{tmga2_press}}</p>
            <p><strong>tmal press: </strong>{{tmal1_press}}</p>
            <p><strong>tega press: </strong>{{tmga1_press}}</p>
            <p><strong>cp2mg push: </strong>{{cp2mg_push}}</p>
            <p><strong>hyd outer/inner: </strong>{{hyd_outer}}/{{hyd_inner}}</p>
            <p><strong>top vp: </strong>{{top_vp}}</p>
            <p><strong>ring purge: </strong>{{ring_purge}}</p>
            <p><strong>alk inj press: </strong>{{alk_inj_press}}</p>
            <p><strong>alk diff press: </strong>{{alk_diff_press}}</p>
            <p><strong>alk inj push: </strong>{{alk_inj_push}}</p>
            <p><strong>alk vent push: </strong>{{alk_vent_push}}</p>
            <p><strong>motor rpm: </strong>{{motor_rpm}}</p>
            <p><strong>sub_temp_outer: </strong>{{sub_temp_outer}}</p>
            <p><strong>sub_temp_inner: </strong>{{sub_temp_inner}}</p>
            <p><strong>n2_flow: </strong>{{n2_flow}}</p>
            <p><strong>gc_press: </strong>{{gc_press}}</p>
            <p><strong>h2_flow: </strong>{{h2_flow}}</p>
            <p><strong>nh3_flow: </strong>{{nh3_flow}}</p>
            <p><strong>sih4_flow: </strong>{{sih4_flow}}</p>
            <p><strong>spare_1: </strong>{{spare_1}}</p>
            <p><strong>sih4_push: </strong>{{sih4_push}}</p>
            <p><strong>sih4_dd: </strong>{{sih4_dd}}</p>
            <p><strong>sih4_press: </strong>{{sih4_press}}</p>
            <p><strong>gc_purge: </strong>{{gc_purge}}</p>
            <p><strong>alk outer/middle/inner: </strong>{{alk_outer}}/{{alk_middle}}/{{alk_inner}}</p>
            <p><strong>hyd line press: </strong>{{hyd_line_press}}</p>
            <p><strong>tmin mol frac 1/2: </strong>{{tmin1_mol_frac}}/{{tmin2_mol_frac}}</p>
            <p><strong>nh3 cond: </strong>{{nh3_cond}}</p>
            <p><strong>h2n2 switch: </strong>{{h2n2_switch}}</p>
            <p><strong>Alk Push inner/middle/outer: </strong>{{recipe.alk_push_inner}}/{{recipe.alk_push_middle}}/{{recipe.alk_push_outer}}</p>
            </div>
            {% endfor %}
        </div>
    <a class="btn btn-default" href="{% url 'growth_detail' growthobject %}">Back to {{growthobject}}</a>
</div>
<p> </p>
{% endblock %}
