{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}{{sample}}{%endblock%}

{% block content %}

<div class="container">
    <h1>{{sample}}</h1>

    <div class="col-xs-2">

    <h3>Sample Info</h3>
    <p>Sample id: {{sample.id}}</p>
    <p>Growth: {{sample.growth}}</p>
    <p>Pocket: {{sample.pocket}}</p>
    <p>Piece: {{sample.piece}}</p>
    <p>Size: {{sample.size}}</p>
    <p>Location: {{sample.location}}</p>
    <p>Substrate Type: {{sample.substrate_type}}</p>
    <p>Serial Number: {{sample.substrate_serial}}</p>
    <p>Orientation: {{sample.substrate_orientation}}</p>
    <p>Miscut: {{sample.substrate_miscut}}</p>
    <p>Comments: {{sample.substrate_comment}}</p>
    <p><a class="btn btn-default" href="{% url 'growth_detail' sample.growth %}">Back to {{sample.growth}}</a></p>

    </div>

    <div class="col-xs-2">

    <h3>Parents</h3>
    {% for parent in parents %}
    <p><a class="btn btn-primary" href="{% url 'sample_detail' parent.id %}">{{parent}}</a></p>
    {% endfor %}
    <h3>Siblings</h3>
    {% for sibling in siblings %}
    <p><a class="btn btn-primary" href="{% url 'sample_detail' sibling.id %}">{{sibling}}</a></p>
    {% endfor %}
    <h3>Children</h3>
    {% for child in children %}
    <p><a class="btn btn-primary" href="{% url 'sample_detail' child.id %}">{{child}}</a></p>
    {% endfor %}

    </div>

</div>

{% endblock %}
