{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}Split Sample{% endblock %}

{% block content %}

<section class="container">
    <header>
        <ol class="breadcrumb">
            <li><a href="{% url 'profile_dashboard' %}">Dashboard</a></li>
            <li class="active">Split Sample</li>
        </ol>
        <h1 class="page-header">Split Sample</h1>
    </header>

    <form action="{% url 'split_sample' %}" method="post">
        {% csrf_token %}
            <div class="row">
                <div class="col-xs-4">
                    {% bootstrap_form form %}
                    <button class="btn btn-warning pull-right" type="submit" name="splitform">Split</button>
                </div>
            </div>
    </form>

</section>

{% endblock %}
