{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}split sample{% endblock %}

{% block content %}
<div class="container">
<h1>Split Sample</h1>

<form action="{% url 'split_sample' %}" method="POST">
    {% csrf_token %}
    <div class="row">
    <div class="col-xs-4">
    <ul>
        {% bootstrap_form sform %}
    </ul>
    </div>
    </div>
<input id="split_growth" type="submit" value="Split" name="splitform"/>
</form>
<a href="{% url 'home' %}">back</a>
</div>
{% endblock %}
