{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}{{growth}} Readings Update{%endblock%}

{% block content %}

<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'growth_detail' growth %}">{{growth}}</a></li>
        <li><a href="{% url 'readings_detail' growth %}">Readings</a></li>
        <li class="active">Update</li>
    </ol>

<h2>Update {{growth}} readings</h2>
<form action="" method="POST">
{% csrf_token %}
    <div class="row">

        {% for reading in readingslist %}
        <div class="col-xs-2">
        {% bootstrap_form reading %}
        </div>
        {% endfor %}
    </div>
<button class="btn btn-warning pull-right" id="update_readings" type="submit" name="updatereadingsform">Update Readings</button>
</form>

<a class="btn btn-default" href="{% url 'home' %}">home</a>

</div>
<p> </p>
{% endblock %}

