{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}Update Readings{%endblock%}

{% block content %}

<div class="container">
<h2>Update {{growth}} readings</h2>
<form action="" method="POST">
{% csrf_token %}
    <div class="row">

        {% for reading in readingslist %}
        <div class="col-xs-2">

        {% bootstrap_form reading %}

        </div>
        {% endfor %}
    </div>
<input id="update_readings" type="submit" value="Update" name="readingsform"/>
</form>

<a href="{% url 'home' %}">home</a>

</div>

{% endblock %}
