{% extends "core/base.html" %}

{% block title %}{{afm}}{% endblock %}

{% block content %}
<div class="container">
    <h3>
        {{afm}}
        <a class="btn btn-primary" href="{% url 'afm_update' pk=afm.id %}">Update</a>
        <a class="btn btn-danger" href="{% url 'afm_delete' pk=afm.id %}">Delete</a>
    </h3>

    <p>Location: {{afm.get_location_display}}</p>
    <p>Size: {{afm.size}} &mu;m</p>
    <p>RMS: {{afm.rms}} nm</p>
    <p>Z-Range: {{afm.zrange}} nm</p>

    {% if afm.height %}
    <img src="{{afm.height.url}}" alt="height">
    {% endif %}
    {% if afm.amplitude %}
    <img src="{{afm.amplitude.url}}" alt="height">
    {% endif %}

    <div>
        <a class="btn btn-default" href="{% url 'afm_list' %}">Back</a>
    </div>
</div>
{% endblock %}
