{% extends "core/base.html" %}

{% block title %}{{afm}}{% endblock %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
    </ol>

    <h3>
        {{afm}}
        <a class="btn btn-warning" href="{% url 'afm_update' uuid=afm.uuid %}">Update</a>
        <a class="btn btn-danger" href="{% url 'afm_delete' uuid=afm.uuid %}">Delete</a>
    </h3>

    {% for file in dataset %}
        <p><strong>State:</strong> {{file.get_state_display}}</p>
        <p><strong>Location:</strong> {{file.get_location_display}}</p>
        <p><strong>Size:</strong> {{file.size}} &mu;m</p>
        <p><strong>RMS:</strong> {{file.rms}} nm</p>
        <p><strong>Z-Range:</strong> {{file.zrange}} nm</p>
    {% endfor %}

    <div>
        <a class="btn btn-default" href="{% url 'afm_list' %}">AFM List</a>
    </div>
</div>
{% endblock %}
