{% extends "core/base.html" %}

{% block title %}AFM{% endblock %}

{% block content %}
<div class="container">
    <header>
        <h1 class="page-header">
            AFM Scans
            <a class="btn btn-primary pull-right" href="{% url 'afm_create' %}">
                <span class="glyphicon glyphicon-plus"></span>
                Create
            </a>
        </h1>
    </header>

    <ul>
        {% for object in object_list %}
            <li>
                <a href="{% url 'afm_detail' uuid=object.uuid %}">{{object}}</a>
            </li>
        {% endfor %}
    </ul>

    <a class="btn btn-default" href="{% url 'home' %}">Back</a>
</div>

{% endblock %}
