{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}{{afm}}{% endblock %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
    </ol>

    <header>
        <h1 class="page-header">
            {{afm.name}} - {{afm}}
            <div class="pull-right">
                <a class="btn btn-warning" href="{% url 'afm_update' uuid=afm.uuid %}">
                    {% bootstrap_icon 'edit' %}
                    Edit
                </a>
                <a class="btn btn-danger" href="{% url 'afm_delete' uuid=afm.uuid %}">
                    {% bootstrap_icon 'remove' %}
                   Delete 
                </a>
            </div>
        </h1>
    </header>

    <div>
        <p>Created on {{afm.created}}</p>
        <p>Modified on {{afm.modified}}</p>
        <p>{{afm.comment}}</p>
        <p>{{afm.process_node.comment}}</p>
    </div>

    <div>
        <h3 class="page-header">
            Data Files
            <div class="pull-right">
                <a class="btn btn-primary" href="{% url 'afm_upload' uuid=afm.uuid %}">
                    {% bootstrap_icon 'upload' %}
                    Upload File
                </a>
            </div>
        </h3>
        {% include "afm/afm_detail_partial.html" with object_list=dataset process=afm %}
    </div>

    <div>
        <a class="btn btn-default" href="{% url 'afm_list' %}">
            {% bootstrap_icon 'arrow-left' %}
            AFM List
        </a>
    </div>
</div>
{% endblock %}
