{% extends "core/base.html" %}

{% block header %}
    {% load staticfiles %}
    {% load bootstrap3 %}
    <script type="text/javascript" src="{% static '/static/simulations/js/popover.js' %}"></script>
    <script type="text/javascript" src="{% static '/static/simulations/js/tooltip.js' %}"></script>
{% endblock %}

{% block content %}

<h2 class="text-center">iPython Notebook</h2>



<div class="col-md-8 col-md-offset-2 text-center">
  <h3>List</h3>
  <p></p>

  <p></p>
</div>
</br>

<div class="col-md-8 col-md-offset-2 text-center">
  <table class="table">
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Comment</strong></td>
      <td><strong>Actions</strong></td>
    </tr>
    {% for template in template_list %}
      <tr>
        <td>{{ template.name }}</td>
        <td></td>
        <td>
            <a class="glyphicon glyphicon-edit" href="{% url 'notebook_int' template.name %}"></a>
            <a class="glyphicon glyphicon-remove" href="#"></a>
        </td>
      </tr>
    {% endfor %}
    <tr>
        <td></td><td></td><td><a class="glyphicon glyphicon-plus" href="" data-toggle="tooltip" title="Create Template"></a></td>
    </tr>
  </table>
</div>

<div class="col-md-6 col-md-offset-8">
    {% if is_paginated %}
    <nav>
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">{% if not page_obj.has_previous %}<span aria-hidden="true">{% endif %}&laquo; Previous</span><span class="sr-only">Previous</span></a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">{% if not page_obj.has_next %}<span aria-hidden="true">{% endif %}Next &raquo;</span><span class="sr-only">Next</span></a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}
