{% extends "core/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block header %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'dashboard/js/dash_show_hide_helper.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid bottom-spacer-lg">



    <nav>
        <div role="tabpanel">
            <ul id="dash_tabs" class="nav nav-tabs nav-justified">
                <li role="presentation">
                    <a href="#newsfeed" aria-controls="newsfeed" role="tab" data-toggle="tab">Newsfeed</a>
                </li>
                <li role="presentation" class="active">
                    <a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">Projects</a>
                </li>
                <li role="presentation">
                    <a href="#action_items" aria-controls="action_items" role="tab" data-toggle="tab">Action Items{% if action_items|length > 0 %} <span class="badge">{{ action_items|length }}</span>{% endif %}</a>
                </li>
            </ul>



            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="projects">

                        <section class="col-xs-12">
                            <div class="container-fluid">
                                {% block dashboard_content %}
                                {% endblock dashboard_content %}
                            </div>
                        </section>

                </div>
                <div role="tabpanel" class="tab-pane" id="newsfeed">
                    <div class="row top-spacer-sm">
                        <section class="col-xs-12">
                            <div class="container-fluid">
                                {% block newsfeed_content %}
                                {% endblock newsfeed_content %}
                            </div>
                        </section>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="action_items">
                    <div class="row top-spacer-sm">
                        <section class="col-xs-12">
                            <div class="container-fluid">
                                {% block action_items_content %}
                                {% endblock action_items_content %}
                            </div>
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </nav>

</div>

{% endblock %}
