{% extends "dashboard/dashboard_base.html" %}


{% block newsfeed_content %}

<div class="row">
    <section class="col-lg-9 col-xs-12">



    <div>
        {% block reservationblock %}
            {% if reservations %}
                <div class="alert alert-info" role="alert">
                    <h3><span class="glyphicon glyphicon-bookmark pull-right"></span>Scheduler</h3>
                    {% for i in reservations %}
                            <li>You're next in line for growth on {{ i.tool.upper }}.
                            You can <a class="alert-link" href={% url 'create_growth_start' %}>start growth</a> or
                            <a class="alert-link" href={% url 'close_reservation' i.id %}>cancel your reservation</a>.</li>
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock reservationblock %}
    </div>

    </section>
    <aside class="col-lg-3 visible-lg">
        <header><h4>Recent Growths</h4></header>
        <div class="list-group">
        {% for growth in growths %}
            <a class="list-group-item" href="{% url 'growth_detail' growth.growth_number %}">{{growth}} <p class="pull-right">{{growth.date}}</p></a>
        {% endfor %}
        </div>
    </aside>
</div>
{% endblock newsfeed_content %}

{% block dashboard_content %}
<div class="row">
    <section class="col-lg-9 col-xs-12">
        {% if active_projects %}

        {# No projects being tracked #}
        {% else %}
            <div class="alert alert-info">
                <h3>You don't have any active projects</h3>
                <p>Get started by creating a new project or tracking an existing one.</p>
                <div class="top-spacer-sm">
                    <a href="{% url 'project_create' %}" class="btn btn-success right-spacer-xs">
                        <span class="glyphicon glyphicon-plus"></span>
                        New Project
                    </a>
                    <a href="{% url 'track_project' %}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-star"></span>
                        Track Project
                    </a>
                </div>
            </div>
        {% endif %}
    </section>



</div>

{% endblock dashboard_content %}

{% block action_items_content %}

<h2>Action Items</h2>
    <ul class="list-group">
        {% for item in action_items %}
        <li class="list-group-item">
            <h4 class=list-group-item-heading">Due: {{ item.due_date }}</h4>
            <p class="list-group-item-text">Comment: {{ item.comment }}</p>
            <p class="list-group-item-text">Created: {{ item.created }}</p>
        </li>
        {% endfor %}
    </ul>



{% endblock action_items_content%}
