{% extends "dashboard/dashboard.html" %}

{% block dashboard_breadcrumb %}
    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'project_detail_dashboard' slug=project.slug %}">{{project}}</a></li>
    <li class='active'>{{investigation}}</li>
{% endblock dashboard_breadcrumb %}

{% block dashboard_content %}
    <div class="row">
        <div class="col-sm-6">
            <header>
                <h1 class="page-header">
                    <a href="{% url 'investigation_detail_all' project=project.slug slug=investigation.slug %}">{{investigation}}</a>
                    <a class="btn btn-default pull-right" href="{% url 'project_detail_dashboard' slug=project.slug %}">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Back to Project
                    </a>
                </h1>
            </header>
            <article>
                <p>{{investigation.description}}</p>
            </article>
        </div>

        <aside class="col-sm-3 col-sm-offset-3">
            <header><h4>Recent Growths</h4></header>
            <div class="list-group">
            {% for growth in growths %}
                <a class="list-group-item" href="{% url 'growth_detail' growth.growth_number %}">{{growth}} <p class="pull-right">{{growth.date}}</p></a>
            {% endfor %}
            </div>
        </aside>
    </div>

{% endblock dashboard_content %}
