{% extends "dashboard/dashboard.html" %}

{% block dashboard_breadcrumb %}
    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'project_detail_dashboard' slug=project.slug %}">{{project}}</a></li>
    <li class='active'>{{investigation}}</li>
{% endblock dashboard_breadcrumb %}

{% block dashboard_content %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="#feed" data-toggle="tab"><span class="glyphicon glyphicon-list"></span> Feed</a></li>
        <li><a href="#growths" data-toggle="tab"><span class="glyphicon glyphicon-file"></span> Growths</a></li>
        <li><a href="#characterization" data-toggle="tab"><span class="glyphicon glyphicon-signal"></span> Characterization</a></li>
        <li><a href="#journal" data-toggle="tab"><span class="glyphicon glyphicon-book"></span> Journal</a></li>
        <li><a href="#settings" data-toggle="tab"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
    </ul>

    <div class="row tab-content">
        <div class="tab-pane fade in active" id="home">
            <header>
                <h1 class="page-header">
                    <a href="{% url 'investigation_detail_all' project=project.slug slug=investigation.slug %}">{{investigation}}</a>
                    <a class="btn btn-default pull-right" href="{% url 'project_detail_dashboard' slug=project.slug %}">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Back to Project
                    </a>
                </h1>
            </header>
            <article>
                <p>{{investigation.description}}</p>
            </article>
        </div>
        <div class="tab-pane fade" id="feed">
            <header>
                <h1 class="page-header">Activity Feed</h1>
            </header>
            {% if stream %}
                <ul class="list-group">
                    {% for action in stream %}
                        <li class="list-group-item">{{action}}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No activity</p>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="growths">
            <header><h1 class="page-header">Recent Growths</h1></header>
            <div class="list-group">
            {% for growth in growths %}
                <a class="list-group-item" href="{% url 'growth_detail' growth.growth_number %}">{{growth}} <p class="pull-right">{{growth.date}}</p></a>
            {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="characterization">
            <header><h1 class="page-header">Recent Characterization</h1></header>
        </div>
        <div class="tab-pane fade" id="journal">
            <header>
                <h1 class="page-header">
                    Recent Entries
                    <a href="{% url 'journal_create' %}" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                        New Entry
                    </a>
                </h1>
            </header>
            {% for entry in entries %}
                <article class="panel panel-default">
                    <header class="panel-heading">
                        <h1 class="panel-title">
                            <a href="{% url 'journal_detail' username=request.user slug=entry.slug %}">{{entry.title}}</a>
                            <small class="pull-right">{{entry.date}}</small>
                        </h1>
                    </header>
                    <section class="panel-body">
                        {{entry.entry}}
                    </section>
                </article>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="settings">
            <header><h1 class="page-header">Settings</h1></header>
        </div>
    </div>

{% endblock dashboard_content %}
