{% extends "dashboard/dashboard.html" %}



{% block dashboard_content %}
    <nav class="top-spacer-sm">
        <ol class="breadcrumb">
        {% block dashboard_breadcrumb %}
            <li><a href="{% url 'dashboard' %}#projects">Projects</a></li>
            <li><a href="{% url 'project_detail_dashboard' slug=project.slug %}">{{project}}</a></li>
            <li class='active'>{{investigation}}</li>
        {% endblock dashboard_breadcrumb %}

            <li class="dropdown pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="Options">
                    <span class="glyphicon glyphicon-wrench"></span>
                </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'project_list' %}">
                            Projects
                        </a></li>
                        <li><a href="{% url 'platter_list' %}">
                            Platters
                        </a></li>
                        <li><a href="{% url 'operator_list' %}">
                            Operators
                        </a></li>
                    </ul>

        </ol>
    </nav>

    <div class="col-md-2 top-spacer-sm">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="#feed" data-toggle="tab"><span class="glyphicon glyphicon-list"></span> Feed</a></li>
            <li><a href="#growths" data-toggle="tab"><span class="glyphicon glyphicon-file"></span> Growths</a></li>
            <li><a href="#characterization" data-toggle="tab"><span class="glyphicon glyphicon-signal"></span> Characterization</a></li>
        </ul>
    </div>
    <div class="col-md-10 tab-content">
        <div class="tab-pane fade in active" id="home">
            <header>
                <div class="pull-right">
                    {% if investigation.is_active %}
                        <a href="{% url 'investigation_deactivate' project=investigation.project.slug slug=investigation.slug %}" class="btn btn-warning btn-sm">
                            <span class="glyphicon glyphicon-log-out"></span>
                            Make Inactive
                        </a>
                    {% else %}
                        <a href="{% url 'investigation_activate' project=investigation.project.slug slug=investigation.slug %}" class="btn btn-warning btn-sm">
                            <span class="glyphicon glyphicon-log-in"></span>
                            Make Active
                        </a>
                    {% endif %}
                    <a href="{% url 'investigation_update' project=investigation.project.slug slug=investigation.slug %}" class="btn btn-warning btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Edit
                    </a>
                </div>
                <h1 class="page-header project-header">
                    {{investigation}}
                    <small>
                        <span class="glyphicon glyphicon-time left-spacer-sm"></span>
                        created on {{investigation.created.date}}
                    </small>
                </h1>
            </header>
            <article class="row">
                <div class="col-md-6">
                    <p>{{investigation.description|escape|safe}}</p>
                </div>
            </article>
        </div>
        <div class="tab-pane fade" id="feed">
            <header>
                <h1 class="page-header">Activity Feed</h1>
            </header>
            {% if stream %}
                <ul class="list-group">
                    {% for action in stream %}
                        <li class="list-group-item">{{action}}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No activity</p>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="growths">
            <header><h1 class="page-header">Recent Growths</h1></header>
            <div class="list-group">
            {% for growth in growths %}
                <a class="list-group-item" href="{% url 'growth_detail' growth.growth_number %}">{{growth}} <p class="pull-right">{{growth.date}}</p></a>
            {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="characterization">
            <header><h1 class="page-header">Recent Characterization</h1></header>
        </div>
    </div>

{% endblock dashboard_content %}
