{% extends "dashboard/dashboard.html" %}


{% block dashboard_content %}

    <nav class="top-spacer-sm">
        <ol class="breadcrumb">

        {% block dashboard_breadcrumb %}
            <li><a href="{% url 'dashboard' %}#projects">Projects</a></li>
            <li class='active'>{{project}}</li>
        {% endblock dashboard_breadcrumb %}

            <li class="dropdown pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="Options">
                    <span class="glyphicon glyphicon-wrench"></span>
                </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'project_list' %}">
                            Projects
                        </a></li>
                        <li><a href="{% url 'platter_list' %}">
                            Platters
                        </a></li>
                        <li><a href="{% url 'operator_list' %}">
                            Operators
                        </a></li>
                    </ul>

        </ol>
    </nav>

    <div class="col-md-2 top-spacer-sm">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="#investigations" data-toggle="tab"><span class="glyphicon glyphicon-th-list"></span> Investigations</a></li>
            <li><a href="#feed" data-toggle="tab"><span class="glyphicon glyphicon-list"></span> Feed</a></li>
            <li><a href="#growths" data-toggle="tab"><span class="glyphicon glyphicon-file"></span> Growths</a></li>
            <li><a href="#characterization" data-toggle="tab"><span class="glyphicon glyphicon-signal"></span> Characterization</a></li>
        </ul>
    </div>
    <div class="col-md-10 tab-content">
        <div class="tab-pane fade in active" id="home">
            <header>
                <div class="pull-right">
                    <a href="{% url 'project_untrack' slug=project.slug %}" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Stop Tracking Project">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    {% if project.is_active %}
                        <a href="{% url 'project_deactivate' slug=project.slug %}" class="btn btn-warning btn-sm">
                            <span class="glyphicon glyphicon-log-out"></span>
                            Make Inactive
                        </a>
                    {% else %}
                        <a href="{% url 'project_activate' slug=project.slug %}" class="btn btn-warning btn-sm">
                            <span class="glyphicon glyphicon-log-in"></span>
                            Make Active
                        </a>
                    {% endif %}
                    <a href="{% url 'project_update' slug=project.slug %}" class="btn btn-warning btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Edit
                    </a>
                </div>
                <h1 class="page-header project-header">
                    {{project}}
                    <small>
                        <span class="glyphicon glyphicon-time left-spacer-sm"></span>
                        created on {{project.created.date}}
                    </small>
                </h1>
            </header>
            <article class="row">
                <div class="col-md-6">
                    <p>{{project.description|escape|safe}}</p>
                </div>
                <div class="col-md-6 hidden-xs hidden-sm">
                    {% if not project.investigations.all %}
                        <div class="alert alert-info">
                            <h3>This project doesn't have any investigations</h3>
                            <p>Get started by creating a new one.</p>
                            <div class="top-spacer-sm">
                                <a href="{% url 'investigation_create' slug=project.slug %}" class="btn btn-success right-spacer-xs">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    New Investigation
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </article>
        </div>
        <div class="tab-pane fade" id="investigations">
            <header>
                <h1 class="page-header">Investigations</h1>
            </header>
            <ul class="list-group">
                {% for i in project.investigations.all %}
                    <li class="list-group-item">
                        <a href="{% url 'investigation_detail_dashboard' project=project.slug slug=i.slug %}">{{i}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-pane fade" id="feed">
            <header>
                <h1 class="page-header">Activity Feed</h1>
            </header>
            {% if stream %}
                <ul class="list-group">
                    {% for action in stream %}
                        <li class="list-group-item">{{action}}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No activity</p>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="growths">
            <header><h1 class="page-header">Recent Growths</h1></header>
            <div class="list-group">
            {% for growth in growths %}
                <a class="list-group-item" href="{% url 'growth_detail' growth.growth_number %}">{{growth}} <p class="pull-right">{{growth.date}}</p></a>
            {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="characterization">
            <header><h1 class="page-header">Recent Characterization</h1></header>
        </div>
    </div>
{% endblock dashboard_content %}

{% block scripts %}
<script type="text/javascript">
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>
{% endblock scripts %}
