{% extends "dashboard/dashboard.html" %}

{% block dashboard_breadcrumb %}
    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class='active'>{{project}}</li>
{% endblock dashboard_breadcrumb %}

{% block dashboard_content %}
    <ul class="nav nav-tabs">
        <li class="active"><a>Home</a></li>
        <li><a href="#">Feed</a></li>
        <li><a href="#">Growths</a></li>
        <li><a href="#">Characterization</a></li>
        <li><a href="#">Journal</a></li>
        <li><a href="#">Settings</a></li>
    </ul>

    <div class="row">
        <div class="col-sm-9">
            <header><h1 class="page-header"><a href="{% url 'project_detail_all' slug=project.slug %}">{{project}}</a></h1></header>
            <article>
                <p>{{project.description}}</p>
            </article>
        </div>

        <aside class="col-sm-3">
            <header><h4>Recent Growths</h4></header>
            <div class="list-group">
            {% for growth in growths %}
                <a class="list-group-item" href="{% url 'growth_detail' growth.growth_number %}">{{growth}} <p class="pull-right">{{growth.date}}</p></a>
            {% endfor %}
            </div>
        </aside>
    </div>

{% endblock dashboard_content %}
