{% extends "core/base.html" %}

{% block title %}{{hall}}{% endblock %}

{% block content %}
<div class="container">

    <h3>
        Hall Data: {{object}}
        <a class="btn btn-warning" href="">Update</a>
        <a class="btn btn-danger" href="">Delete</a>
    </h3>

    {% for item in dataset %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Sample: </strong>{{item.sample}} &emsp;
            <strong class="pull-right">{{item.date}}</strong>
        </div>
        <div class="panel-body">
            <p>Growth: {{item.growth}}</p>
            <p>Description: {{item.description}}</p>
        </div>
        <table class="table">
            <tr>
                <td>Temperature &deg;C</td>
                <td>Symmetry Factor</td>
                <td>Sheet Coefficient m&sup2;/C</td>
                <td>Sheet Resistance &Omega;/&#9633;</td>
                <td>Sheet Concentration cm&#x207b;&sup2;</td>
                <td>Thickness &mu;m</td>
                <td>Mobility cm&sup2;/Vs</td>
                <td>Bulk Coefficient m&sup3;/C</td>
                <td>Bulk Resistance ohm-cm</td>
                <td>Bulk Concentration cm&#x207b;&sup3;</td>
            </tr>
            <tr>
                <td>{{item.temperature}} </td>
                <td>{{item.symmetry_factor}}</td>
                <td>{{item.sheet_coefficient}}</td>
                <td>{{item.sheet_resistance}}</td>
                <td>{{item.sheet_concentration}}</td>
                <td>{{item.thickness}}</td>
                <td>{{item.mobility}}</td>
                <td>{{item.bulk_coefficient}}</td>
                <td>{{item.bulk_resistance}}</td>
                <td>{{item.bulk_concentration}}</td>
            </tr>
        </table>
    </div>
    {% endfor %}

    <div>
        <a class="btn btn-default" href="{% url 'hall_list' %}">Back</a>
    </div>
</div>
{% endblock %}
