{% extends "core/base.html" %}

{% block title %}Reservations{% endblock title %}

{% block content %}

<main class="container">
    <nav>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class='active'>Reservations</li>
        </ol>
    </nav>

    <header>
        <h2 class="page-header">
            Reservations
            <a href="{% url 'reservation_create' %}" class="btn btn-success pull-right">
                <span class="glyphicon glyphicon-plus"></span>
                Create Reservation
            </a>
        </h2>
    </header>

    <div class="row">
        <div class="list-group col-md-6 col-md-offset-3">
            {% for process_type in object_list %}
                <a class="list-group-item" href="{% url 'reservation_list' process_type.type %}"
                   data-toggle="tooltip" data-placement="left" title="{{process_type.description}}">
                    {{process_type.name}}
                    <span class="badge pull-right">{{process_type.open_reservations}} Open</span>
                </a>
            {% endfor %}
        </div>
    </div>

</main>

{% endblock content %}
