{% extends "core/base.html" %}

{% block header %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static '/static/simulations/js/popover.js' %}"></script>
    <script type="text/javascript" src="{% static '/static/simulations/js/tooltip.js' %}"></script>
{% endblock %}

{% block content %}

<h2 class="text-center">Simulation Management Console</h2>

<div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
    <li role="presentation" {% if request.path == '/simulations/' %}class="active"{% endif %}><a href="{% url 'simulation_incomplete' %}"><span class="glyphicon glyphicon-import"> Incomplete</span></a></li>
    <li role="presentation" {% if request.path == '/simulations/completed/' %}class="active"{% endif %}><a href="{% url 'simulation_complete' %}"><span class="glyphicon glyphicon-saved"> Completed</a></li>
    <li role="presentation" {% if request.path == '/simulations/all/' %}class="active"{% endif %}><a href="{% url 'simulation_all' %}"><span class="glyphicon glyphicon-list"> All</a></li>
    <li role="presentation" {% if request.path == '/simulations/admin/' %}class="active"{% endif %}><a href="{% url 'simulation_admin' %}"><span class="glyphicon glyphicon-wrench"> Instances</a></li>
    </ul>
</div>

<div class="col-md-8">
  <h3 class="text-center">Jobs</h3>
</div>

<br></br>



<div class="col-md-8 text-center">
  <table class="table">
    <tr>
        <td><strong>Status</strong></td>
        <td><strong>Job ID</strong></td>
        <td><strong>User</strong></td>
        <td><strong>Request Date</strong></td>
        <td><strong>Node Type</strong></td>
        <td><strong>Priority</strong></td>
        <td><strong>Actions</strong></td>
    </tr>
    {% for items in object_list %}
      <tr>
          <td>
            {% if items.finish_date %}
                <span class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="right" title="Completed"></span>
            {% elif items.start_date %}
                <span class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="right" title="In Progress"></span>
            {% endif %}
          </td>
          <td>{{ items.id }}</td>
          <td>{{ items.user.full_name }}</td>
          <td>{{ items.request_date }}</td>
          <td>{{ items.execution_node }}</td>
          <td>{% if items.priority %}<span class="glyphicon glyphicon-flag"></span>{% endif %}</td>
          <td>
          {% if request.user == items.user %}
              {% if items.finish_date %}<a class="glyphicon glyphicon-download-alt" href="#"></a>></a>
              {% else %}
                  <a class="glyphicon glyphicon-edit" href="{% url 'simulation_edit' pk=items.id %}" data-toggle="tooltip" title="Edit"></a>
                  <a class="glyphicon glyphicon-share" href="{% url 'create_form_existing' pk=items.id %}" data-toggle="tooltip" title="Use as template"></a>
                  <a class="glyphicon glyphicon-remove" href="{% url 'simulation_cancel' pk=items.id %}" data-toggle="tooltip" title="Cancel"></a>{% endif %}
          {% elif user.is_staff %}
              {% if items.finish_date %}<a class="glyphicon glyphicon-download-alt" href="#"></a>
              {% else %}
                  <a class="glyphicon glyphicon-edit" href={% url 'simulation_edit' pk=items.id %}></a>
                  <a class="glyphicon glyphicon-remove" href="{% url 'simulation_cancel' pk=items.id %}"></a>{% endif %}
          {% endif %}
          </td>
      </tr>
    {% endfor %}
    <tr>
        <td></td><td></td><td></td><td></td><td></td><td></td>
        <td><a class="glyphicon glyphicon-plus"
               data-toggle="popover"
               data-html="true"
               title="<strong>Create New</strong>"
               data-placement="left"
               data-content="{% include 'simulations/create_popover.html' %}"></a></td>
    </tr>
  </table>

</div>

<div class="col-md-6 col-md-offset-8">
    {% if is_paginated %}
    <nav>
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">{% if not page_obj.has_previous %}<span aria-hidden="true">{% endif %}&laquo; Previous</span><span class="sr-only">Previous</span></a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">{% if not page_obj.has_next %}<span aria-hidden="true">{% endif %}Next &raquo;</span><span class="sr-only">Next</span></a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
</div>


{% endblock %}
