{% extends "core/base.html" %}

{% block header %}
    {% load staticfiles %}
    {% load bootstrap3 %}
    <script type="text/javascript" src="{% static '/static/simulations/js/show_hide_helper.js' %}"></script>
    <link href="{% static '/static/simulations/css/box_styling.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{{ form.media }}

<h2 class="text-center">New</h2>
<p></p>

<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

    <div class="col-md-8 col-md-offset-2">
        <button class="btn btn-success pull-right" data-toggle="tooltip" data-placement="left" title="test" type="submit" value="Create">Create</button>
    </div>

    <div class="col-md-2 col-md-offset-1">
        <div class="input-group">
        <h4 class="text-center">Configuration</h4><br>
            {% bootstrap_field form.priority %}
            {% bootstrap_field form.execution_node %}<br></br>
            {% bootstrap_field form.investigations %}
        </div>
    </div>

    <div class="col-md-6 col-md-offset-1">
        <h4 class="text-center">Files</h4><p></p>
        <ul id="file_tabs" class="nav nav-pills">
            <li role="presentation" class="active"><a href="#device" aria-controls="device" data-toggle="pill" role="tab">Device</a></li>
            <li role="presentation"><a href="#materials" aria-controls="materials" data-toggle="pill" role="tab">Materials</a></li>
            <li role="presentation"><a href="#physics" aria-controls="physics" data-toggle="pill" role="tab">Physics</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="device">
                <p></p>&emsp;&emsp;
                <label><input type="radio" name="DeviceRadio" value="edit"> Edit</label> &emsp;
                <label><input type="radio" name="DeviceRadio" value="upload"> Upload</label>
                <div class="edit box">
                    {% bootstrap_field form.device %}
                </div>
                <div class="upload box">
                    {% bootstrap_field form.device_upload %}
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="materials">
                <p></p>&emsp;&emsp;
                <label><input type="radio" name="colorRadio" value="edit"> Edit</label> &emsp;
                <label><input type="radio" name="colorRadio" value="upload"> Upload</label>
                <div class="edit box">
                    {% bootstrap_field form.materials %}
                </div>
                <div class="upload box">
                    {% bootstrap_field form.materials_upload %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="physics">
                <p></p>&emsp;&emsp;
                <label><input type="radio" name="colorRadio" value="edit"> Edit</label> &emsp;
                <label><input type="radio" name="colorRadio" value="upload"> Upload</label>

                <div class="edit box">
                    {% bootstrap_field form.physics %}
                </div>
                <div class="upload box">
                    {% bootstrap_field form.physics_upload %}
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}
