{% extends 'project_management/pm_base.html' %}

{% block title %}Investigations{% endblock title %}

{% block pm_content %}

<div class="container-fluid">
</div>
<div class="col-md-12">
  <h4>This page lists investigations for the projects you track</h4>
  <div class="spacer-xs"></div>
  <div class="list-group">
    {% for investigation in object_list %}
    <a href="{% url 'pm_investigation_detail' investigation.id %}" class="list-group-item">
      <h4 class="list-group-item-heading">
        {{ investigation.name }}
      </h4>
      <p class="list-group-item-text">
        {{ investigation.target_actions.all|length }} Progress Updates
        &emsp; &emsp;
        {{ investigation.literature.all|length }} Papers Read
        <div class="well">
          {{ investigation.description|truncatewords:50 }}
        </div>
        {% for milestone in investigation.milestone.all %}
          <span class="label label-primary" href="{% url 'milestone_detail' milestone.id %}">{{milestone.name}}</span>
        {% endfor %}
      </p>
    </a>


    {% endfor %}
  </div>
</div>

{% endblock %}
