{% extends 'project_management/pm_base.html' %}

{% block breadcrumb %}

<nav>
    <ol class="breadcrumb">
        <li class="active">Dashboard</li>
    </ol>
</nav>

{% endblock breadcrumb %}

{% block pm_content %}

<div class="row">
    <div class="col-md-5">
        <a class="jumbotron-link" href="{% url 'pm_project_list' %}">
            <div class="jumbotron">
                <h2>
                    <span class="glyphicon glyphicon-blackboard right-spacer-sm"></span>
                    Projects
                </h2>
                <p>{{projects|length}} Projects</p>
                <p>{{investigations|length}} Investigations</p>
            </div>
        </a>
    </div>

    <div class="col-md-5 col-md-offset-1">
        <a class="jumbotron-link" href="{% url 'pm_task_list' %}">
            <div class="jumbotron">
                <h2>
                    <span class="glyphicon glyphicon-list-alt right-spacer-sm"></span>
                    Tasks
                </h2>
                <p>{{tasks|length}} Tasks</p>
                <p>&emsp;</p>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <a class="jumbotron-link" href="{% url 'milestone_list' %}">
            <div class="jumbotron">
                <h2>
                    <span class="glyphicon glyphicon-time right-spacer-sm"></span>
                    Milestones
                </h2>
                <p>{{milestones|length}} Open Milestones</p>
                <p>&emsp;</p>
            </div>
        </a>
    </div>

    <div class="col-md-5 col-md-offset-1">
        <a class="jumbotron-link" href="{% url 'literature_landing' %}">
            <div class="jumbotron">
                <h2>
                    <span class="glyphicon glyphicon-book right-spacer-sm"></span>
                    Literature
                </h2>
                <p>{{literature|length}} Articles Read</p>
                <p>&emsp;</p>
            </div>
        </a>
    </div>
</div>

{% endblock %}
