{% extends 'project_management/pm_base.html' %}


{% block pm_content %}

<div class="col-md-5">
  <div class="jumbotron">
    <h2><span class="glyphicon glyphicon-blackboard"></span> &emsp; Projects</h2>
    <p>{{projects|length}} Projects</p>
  </div>
</div>
<div class="col-md-5 col-md-offset-1">
  <div class="jumbotron">
    <h2><span class="glyphicon glyphicon-road"></span> &emsp; Investigations</h2>
    <p>{{investigations|length}} Investigations</p>
  </div>
</div>
<div class="col-md-5">
  <div class="jumbotron">
    <h2><span class="glyphicon glyphicon-time"></span> &emsp; Milestones</h2>
    <p>{{milestones|length}} Open Milestones</p>
  </div>
</div>
<div class="col-md-5 col-md-offset-1">
  <div class="jumbotron">
    <h2><span class="glyphicon glyphicon-book"></span> &emsp; Literature</h2>
    <p>{{literature|length}} Articles Read</p>
  </div>
</div>

{% endblock %}
