{% extends 'project_management/pm_base.html' %}

{% block title %}Milestones{% endblock title %}

{% block breadcrumb %}

<nav>
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li class="active">Milestones</li>
    </ol>
</nav>

{% endblock breadcrumb %}

{% block pm_content %}

<div class="container-fluid">
  <div class="col-md-12">
    <div>
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#open" aria-controls="open" data-toggle="pill" role="tab"><span class="glyphicon glyphicon-exclamation-sign"></span> Open</a></li>
          <li role="presentation"><a href="#closed" aria-controls="closed" data-toggle="pill" role="tab"><span class="glyphicon glyphicon-ok-sign"></span> Closed</a></li>
          <h4 class="pull-right">This page lists milestones you've created for your investigations.</h4>
        </ul>
    </div>
    <div class="spacer-xs"></div>

    <div class="tab-content">
      <div class="tab-pane active" role="tabpanel" id="open">
        <div class="list-group">
          {% for milestone in object_list %}
          {% if milestone.is_active %}
            <div class="list-group-item {% if milestone.due_date < today.date %}list-group-item-warning{%endif%}">
              <h4 class="list-group-item-heading">
                <a href="{% url 'milestone_detail' slug=milestone.slug %}">{{milestone.name}}</a>&emsp;
                <span class="label label-default">
                  {{milestone.investigation.project}}/{{milestone.investigation}}
                </span>
                <span class="pull-right">Due: {{milestone.due_date}}</span>
              </h4>
              <p class="list-group-item-text">
                {{milestone.processes.all|length}} Progress Updates
                &emsp;&emsp;
                {{milestone.literature.all|length}} Literature Documents
                <br></br>
              </p>
              <p class="list-group-item-text">
                <div class="well">{{milestone.description|escape|safe}}</div>
              </p>
              <p class="list-group-item-text">
              </p>
            </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="tab-pane" role="tabpanel" id="closed">
        <div class="list-group">
          {% for milestone in object_list %}
          {% if not milestone.is_active %}
            <div class="list-group-item">
              <h4 class="list-group-item-heading">
                <a href="{% url 'milestone_detail' slug=milestone.slug %}">{{milestone.name}}</a>&emsp;
                <span class="label label-default">
                  {{milestone.investigation.project}}/{{milestone.investigation}}
                </span>
                <span class="pull-right">Due: {{milestone.due_date}}</span>
              </h4>
              <p class="list-group-item-text">
                {{milestone.processes.all|length}} Progress Updates
                &emsp;&emsp;
                {{milestone.literature.all|length}} Literature Documents
                <br></br>
              </p>
              <p class="list-group-item-text">
                <div class="well">{{milestone.description|escape|safe}}</div>
              </p>
              <p>

              </p>
            </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
