{% extends 'project_management/pm_base.html' %}

{% load bootstrap3 %}

{% block header %}
  {% load staticfiles %}
  {{form.media}}
{% endblock header %}

{% block breadcrumb %}

<nav>
    <ol class="breadcrumb">
      <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
      <li><a href="{% url 'pm_project_list' %}">Projects</a></li>
      <li><a href="{% url 'pm_project_detail' slug=milestone.investigation.project.slug  %}">{{milestone.investigation.project.name}}</a></li>
      <li><a href="{% url 'pm_investigation_detail' slug=milestone.investigation.slug %}">{{milestone.investigation.name}}</a></li>
      <li><a href="{% url 'milestone_detail' slug=milestone.slug %}">{{milestone.name|truncatewords:4}}</a></li>
      <li class='active'>Edit Milestone</li>
    </ol>
</nav>

{% endblock breadcrumb %}

{% block pm_content %}

<h2 class="text-center">Edit Milestone</h2>
<div class="container-fluid">
  <form action="" method="post">{%csrf_token%}
    <div class="col-md-8 col-md-offset-2">
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-success" value="Update">Update</button>
    </div>
  </form>
</div>

{% endblock %}
