{% extends 'project_management/pm_base.html' %}

{% block title %}Milestones{% endblock title %}

{% block pm_content %}

<div class="container-fluid">
  <div class="col-md-12">
    <div class="list-group">
      {% for milestone in object_list %}
        <a href="{% url 'milestone_detail' pk=milestone.id %}" class="list-group-item">
          <h4 class="list-group-item-heading">
            {{milestone.name}}
            <span class="label label-default">
              {{milestone.investigation.project}}/{{milestone.investigation}}
            </span>
            <span class="pull-right">Due: {{milestone.due_date}}</span>
          </h4>
          <p class="list-group-item-text">
            {{milestone.investigation.target_actions.all|length}} Progress Updates
            &emsp;&emsp;
            {{milestone.literature.all|length}} Literature Documents
            <br></br>
          </p>
          <p class="list-group-item-text">
            <div class="well">{{milestone.description}}</div>
          </p>
          <p>

          </p>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
