{% extends 'project_management/pm_base.html' %}

{% load bootstrap3 %}

{% block header %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'jquery-ui/themes/base/minified/jquery-ui.min.css' %}">
  {{task_form.media}}
  {{note_form.media}}
{% endblock header %}

{% load dashboard_tags %}

{% block breadcrumb %}

<nav>
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'pm_project_list' %}">Projects</a></li>
        <li><a href="{% url 'pm_project_detail' slug=milestone.investigation.project.slug  %}">{{milestone.investigation.project.name}}</a></li>
        <li><a href="{% url 'pm_investigation_detail' slug=milestone.investigation.slug %}">{{milestone.investigation.name}}</a></li>
        <li class='active'>{{milestone.name|truncatewords:4}}</li>
    </ol>
</nav>

{% endblock breadcrumb %}

{% block pm_content %}

<div class="col-md-12">

  <div class="panel {% if milestone.is_active and milestone.due_date < today.date %}panel-warning{%else%}panel-info{%endif%}">
    <div class="panel-heading">
      {% if milestone.is_active and milestone.due_date < today.date %}<strong>Expired</strong>{%else%}Description{%endif%} &emsp;
      <a href="{% url 'milestone_edit' milestone.slug %}" data-toggle="tooltip" data-title="Edit"><span class="glyphicon glyphicon-edit"></span></a> &emsp;
      {% if milestone.is_active %}
      <a href="{% url 'milestone_close' milestone.slug %}" data-toggle="tooltip" data-title="Close Milestone"><span class="glyphicon glyphicon-ok"></span></a>
      {% else %}
      <a href="{% url 'milestone_open' milestone.slug %}" data-toggle="tooltip" data-title="Re-Open Milestone"><span class="glyphicon glyphicon-repeat"></span></a>
      {% endif %}
      <span class="pull-right"><span class="glyphicon glyphicon-time"></span> {{milestone.due_date}}</span>
    </div>
    <div class="panel-body">
      {{milestone.description|safe}}
    </div>
  </div>

  <div>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#details" aria-controls="details" data-toggle="pill" role="tab"><span class="glyphicon glyphicon-list-alt"></span> Notes</a></li>
        <li role="presentation"><a href="#tasks" aria-controls="tasks" data-toggle="pill" role="tab"><span class="glyphicon glyphicon-list"></span> Tasks</a></li>
        <li role="presentation"><a href="#processes" aria-controls="processes" data-toggle="pill" role="tab"><span class="glyphicon
         glyphicon-stats"></span> Processes</a></li>
         <li role="presentation"><a href="#literature" aria-controls="literature" data-toggle="pill" role="tab"><span class="glyphicon
          glyphicon-book"></span> Literature</a></li>
        <li role="presentation" class="pull-right"><a data-toggle="modal" data-target="#note-modal"><span class="glyphicon glyphicon-plus"></span> Note</a></li>
        <li role="presentation" class="pull-right"><a data-toggle="modal" data-target="#task-modal"><span class="glyphicon glyphicon-plus"></span> Task</a></li>
      </ul>
  </div>

  <div class="spacer-xs"></div>


  <div class="tab-content">
    <div class="tab-pane active" role="tabpanel" id="details">

      <div class="list-group">
        {% for note in object_list %}
          <div class="list-group-item" href="#">
            <p class="list-group-item-text">{{note.note|convert_to_links}}</p>
            <p class="list-group-item-text"><small>{{note.created}}</small></p>
          </div>
        {% endfor %}
      </div>

      {% if is_paginated %}
      <nav>
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">{% if not page_obj.has_previous %}<span aria-hidden="true">{% endif %}&laquo; Previous</span><span class="sr-only">Previous</span></a></li>
          {% endif %}
          {% for page in paginator.page_range %}
              <li {% if page_obj.number == forloop.counter %}class="active"{% endif %}><a href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
          {% endfor %}
          {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">{% if not page_obj.has_next %}<span aria-hidden="true">{% endif %}Next &raquo;</span><span class="sr-only">Next</span></a></li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}

    </div>

    <div class="tab-pane" role="tabpanel" id="processes">
      <div>
        <div class="list-group">
          {% for process in processes %}
            <div class="list-group-item" href="#">
              <h4 class="list-group-item-heading">
                {{process.type}} <a href="{% url 'process_detail' process.uuid %}" data-toggle="tooltip" data-html="true" title="{{process.comment|escape|truncatewords:50}}">({{process.uuid}}{% if process.legacy_identifier %}, {{process.legacy_identifier}}{% endif %})</a>
              </h4>
              <p class="list-group-item-text">
                <small>{{process.created}}</small>
              </p>
            </div>

          {% endfor %}
        </div>
      </div>
    </div>

    <div class="tab-pane" role="tabpanel" id="literature">
      <div>
        <div class="list-group">
          {% for update in literature %}
            <a class="list-group-item" href="{% url 'literature_detail_redirector' update.id %}">
              <h4 class="list-group-item-heading">{{update.title}}</h4>
              <p class="list-group-item-text">
                {{update.created}}
              </p>
              <p class="list-group-item-text">
                {{update.doi}}
              </p>
            </a>

          {% endfor %}
        </div>
      </div>

      </div>

      <div class="tab-pane" role="tabpanel" id="tasks">
        <div class="col-md-2 pull-right">
            <ul class="nav nav-pills nav-stacked">
              <li role="presentation" class="active"><a href="#active_tasks" aria-controls="active_taks" data-toggle="pill" role="tab"><span class="glyphicon glyphicon-exclamation-sign"></span> Open</a></li>
              <li role="presentation"><a href="#inactive_tasks" aria-controls="inactive_tasks" data-toggle="pill" role="tab"><span class="glyphicon glyphicon-ok-sign"></span> Closed</a></li>
            </ul>
        </div>
        <div class="col-md-10">
          <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="active_tasks">
              <div>
                <div class="list-group">
                  {% for task in active_tasks reversed %}
                      <div class="list-group-item" href="#">
                        <p class="list-group-item-text">
                          <a href="{% url 'task_close' slug=milestone.slug pk=task.id %}" data-toggle="tooltip" data-title="Mark complete"><span class="glyphicon glyphicon-ok"></span></a>&emsp;
                          {{task.description|truncatewords:10}}
                          <span class="pull-right"><strong>Due:</strong> {{task.due_date}}</span>
                        </p>
                      </div>

                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="tab-pane" role="tabpanel" id="inactive_tasks">
              <div>
                <div class="list-group">
                  {% for task in inactive_tasks reversed %}
                      <div class="list-group-item" href="#">
                        <p class="list-group-item-text">
                          <a href="{% url 'task_open' slug=milestone.slug pk=task.id %}" data-toggle="tooltip" data-title="Re-Open"><span class="glyphicon glyphicon-repeat"></span></a>&emsp;
                          {{task.description|truncatewords:10}}
                          <span class="pull-right"><strong>Due:</strong> {{task.due_date}}</span>
                        </p>
                      </div>

                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>


  </div>

  <section id="note-modal" class="modal fade">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <header class="modal-header">
                  <button class="close" type="button" data-dismiss="modal">&times;</button>
                  <h3 class="modal-title">New Note</h3>
              </header>
              <form action="{% url 'milestone_note_action' %}" method="post" role="form">
                {% csrf_token %}
                <div class="modal-body">
                  <p>
                    Enter the text for your note below. Shortcuts to tag processes and literature are shown at right. You can tag a sample or process by adding a hashtag ("#") before the process or sample UUID. (i.e. #s0001)
                  </p>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <!-- <label>Description</label> -->
                        {% bootstrap_field note_form.note %}
                        <input class="form-control hidden" type="textbox" name="user" id="id_user" value="{{milestone.user.id}}">
                        <input class="form-control hidden" type="textbox" name="milestone" id="id_milestone" value="{{milestone.id}}">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div>
                          <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#processes-modal" aria-controls="processes-modal" data-toggle="pill" role="tab"><span class="glyphicon glyphicon-stats"></span> Processes</a></li>
                            <li role="presentation"><a href="#literature-modal" aria-controls="literature-modal" data-toggle="pill" role="tab"><span class="glyphicon glyphicon-book"></span> Literature</a></li>
                          </ul>
                      </div>
                      <div class="tab-content">

                        <div class="tab-pane active" role="tabpanel" id="processes-modal">
                          <div class="list-group">
                            {% for process in processes %}
                              <div class="list-group-item text-add" data-toggle="tooltip" data-placement="bottom" data-title="{{process.comment|escape}}" data-html="true" data-append="#{{process.uuid}} ">
                                <p class="list-group-item-text">
                                  {{process.uuid}}{% if process.legacy_identifier %}({{process.legacy_identifier}}){% endif %}
                                </p>
                              </div>

                            {% endfor %}
                          </div>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="literature-modal">
                          <div class="list-group">
                            {% for update in literature %}
                              <div class="list-group-item text-add" data-toggle="tooltip" data-placement="bottom" data-title="{{update.title}}" data-append="#lit-{{update.id}} ">
                                <p class="list-group-item-text">
                                  {{update.title|truncatewords:4}}
                                </p>
                              </div>

                            {% endfor %}
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <footer class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </footer>
              </form>
          </div>
      </div>
  </section>

  <section id="task-modal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <header class="modal-header">
                  <button class="close" type="button" data-dismiss="modal">&times;</button>
                  <h3 class="modal-title">New Task</h3>
              </header>
              <form action="{% url 'milestone_task_action' %}" method="post" role="form">
                {% csrf_token %}
                <div class="modal-body">
                  <div class="form-group">
                    <!-- <label>Description</label> -->
                    {% bootstrap_form task_form %}
                    <input class="form-control hidden" type="textbox" name="user_id" value="{{milestone.user.id}}">
                    <input class="form-control hidden" type="textbox" name="slug" value="{{milestone.slug}}">
                  </div>
                </div>
                <footer class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </footer>
              </form>
          </div>
      </div>
  </section>

  <script>
    $(document).ready(function(){
      $(".text-add").click(function(){
        // $('#id_note').append($(this).attr("data-append"));
        $('#note_hallo_field').append($(this).attr("data-append"));
      });
    });
  </script>


{% endblock %}

{% block scripts %}
    <script src="{% static 'jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>
    <script src="{% static 'rangy/rangy-core.min.js' %}"></script>
    <script src="{% static 'hallo/dist/hallo.js' %}"></script>
    <script type="text/javascript" src="{% static 'project_management/js/hallo_helper.js' %}"></script>
    <script type="text/javascript">
        hallo_helper.enable_rich_text('.hallo', 'form');
    </script>
{% endblock scripts %}
