{% extends 'project_management/pm_base.html' %}

{% if milestone.user == request.user %}
{% block pm_content %}

<div>
  <div class="list-group">
    {% for update in milestone.investigation.target_actions.all %}
      <a class="list-group-item" href="#">
        <h4 class="list-group-item-heading">{{update.timestamp}}</h4>
        <p class="list-group-item-text">
          {{update.action_object.type}}
        </p>
        <p class="list-group-item-text">
          {{update.action_object.uuid}}
        </p>
      </a>

    {% endfor %}
  </div>
</div>
{% endblock %}
{% endif %}
