{% extends 'core/base.html' %}

{% block content %}

<div class="container-fluid">
  <h2 class="page-header">Project Management <small>{% block subtitle %}{% endblock subtitle %}</small></h2>
  <div class="col-md-2">
    <ul class="nav nav-pils nav-stacked">
      <li role="presentation"><a href="{% url 'pm_landing' %}"><span class="glyphicon glyphicon-th-large"></span> Dashboard</a></li>
      <li role="presentation"><a href="{% url 'pm_newsfeed' %}"><span class="glyphicon glyphicon-tasks"></span> Newsfeed</a></li>
      <li role="presentation"><a href="{% url 'pm_project_list' %}"><span class="glyphicon glyphicon-blackboard"></span> Projects</a></li>
      <li role="presentation"><a href="{% url 'pm_investigation_list' %}"><span class="glyphicon glyphicon-road"></span> Investigations</a></li>
      <li role="presentation"><a href="{% url 'milestone_list' %}"><span class="glyphicon glyphicon-time"></span> Milstones</a></li>
      <li role="presentation"><a href="{% url 'literature_landing' %}"><span class="glyphicon glyphicon-book"></span> Literature</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    {% block pm_content %}{% endblock %}
  </div>
</div>

{% endblock content %}
