{% extends 'project_management/pm_base.html' %}

{% block scripts %}
  {% load staticfiles %}
  <script src="{% static 'project_management/js/project_list.js' %}"></script>
{% endblock %}

{% block breadcrumb %}

<nav>
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li class="active">Projects</li>
    </ol>
</nav>

{% endblock breadcrumb %}

{% block pm_content %}
<div class="col-md-12">
  <div>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#my_projects" aria-controls="my_projects" data-toggle="pill" role="tab"><span class="glyphicon glyphicon-ok-circle"></span> My Projects</a></li>
        <li role="presentation"><a href="#active_projects" aria-controls="active_projects" data-toggle="pill" role="tab"><span class="glyphicon glyphicon-ban-circle"></span> Active Projects</a></li>
        <li role="presentation"><a href="#inactive_projects" aria-controls="inactive_projects" data-toggle="pill" role="tab"><span class="glyphicon glyphicon-remove-circle"></span> Inactive Projects</a></li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span> New <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'project_create' %}">Project</a></li>
            {# <li><a href="{% url 'pm_investigation_create' %}">Investigation</a></li>#}
          </ul>
        </li>
        {% if user.is_staff %}
        <li role="presentation"><a href="{% url 'pm_project_admin' %}" role="tab"><span class="glyphicon glyphicon-cog"></span> Administration</a></li> 
        {% endif %}
        <h4 class="pull-right">This page lists the projects that you track.</h4>
      </ul>
  </div>
  <div class="spacer-xs"></div>
    <div>
        {% if my_active_projects %}
        {# No projects being tracked #}
        {% else %}
            <div class="alert alert-info">
                <h3>You don't track any active projects</h3>
                <p>Get started by creating a new project or tracking an existing one.</p>
                <div class="top-spacer-sm">
                    <a href="{% url 'project_create' %}" class="btn btn-success right-spacer-xs">
                        <span class="glyphicon glyphicon-plus"></span>
                        Create New Project
                    </a>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="tab-content">
      <div class="tab-pane active" role="tabpanel" id="my_projects">
        {% for p in my_active_projects %}
        <div class="panel panel-primary" id="project_panel_{{p.id}}">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">
                    <a href="{% url 'pm_project_detail' slug=p.slug %}">{{ p }}</a>
                </h3>
                <div class="clearfix">
                  <div class="btn-group pull-right" role="group" aria-label="...">
                        <a href="#" data-toggle="tooltip" data-title="Expand" ><span id="expand_proj_{{p.id}}" class="glyphicon glyphicon-option-horizontal invert-link inline-button-spacer"></span></a>
                        <a href="{% url 'project_untrack' slug=p.slug %}" data-toggle="tooltip" data-title="Untrack" ><span class="glyphicon glyphicon-star invert-link inline-button-spacer"></span></a>
                        {% if user in p.owner_group.custom_users.all %}
                        <a id="project_deactivate_{{p.id}}" href="{% url 'project_deactivate' slug=p.slug %}" data-toggle="tooltip" data-title="Make Inactive" ><span class="glyphicon glyphicon-thumbs-down invert-link inline-button-spacer"></span></a>
                        <a id="project_edit_{{p.id}}" href="{% url 'pm_project_edit' slug=p.slug %}" data-toggle="tooltip" data-title="Edit"><span class="glyphicon glyphicon-edit invert-link inline-button-spacer"></span></a>
                        {% endif %}
                  </div>
                </div>
            </div>
            <div class="panel-body" id="project_panel_body_{{p.id}}">
                <p><span class="glyphicon glyphicon-ok-circle"></span> You follow this project.</p>
                <p>{{ p.description|safe|truncatewords:50 }}</p>
            </div>
            <ul id="invest_list_{{p.id}}" class="list-group">
                {% for i in p.investigation_set.all %}
                  {% if i.is_active %}
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                          <a href="{% url 'pm_investigation_detail' slug=i.slug %}"> {{ i }}</a>
                          {% if user in p.owner_group.custom_users.all %}
                          <a href="{% url 'investigation_deactivate' project=p.slug slug=i.slug %}" data-toggle="tooltip" data-title="Make Inactive" class="pull-right"><span class="glyphicon glyphicon-thumbs-down">&emsp;</span></a>
                          {% endif %}
                        </h4>
                        <p class="list-group-item-text">
                          {{i.description|safe|truncatewords:50}}
                        </p>
                        <p class="list-group-item-text">
                          <strong>Milestones: &emsp;</strong>
                          {% for m in i.milestone.all %}
                            {% if m.is_active %}
                            <a class="label label-default" href="{% url 'milestone_detail' m.slug %}" data-html="true" data-toggle="tooltip" title="{{m.description|escape|truncatewords:20}}">{{m.name|truncatewords:4}}</a>
                            {% endif %}
                          {% endfor %}
                          &emsp;{% if user in p.owner_group.custom_users.all %}<a href="{% url 'pm_investigation_detail' slug=i.slug %}#milestone-modal" class="btn btn-xs btn-default"><span data-toggle="tooltip" data-title="Create a milestone" class="glyphicon glyphicon-plus"></span></a>{% endif %}
                        </p>
                    </li>
                  {% endif %}
                {% endfor %}
                {% for i in p.investigation_set.all %}
                  {% if not i.is_active %}
                    <li class="list-group-item list-group-item-danger">
                        <h4 class="list-group-item-heading">
                          <a href="{% url 'pm_investigation_detail' slug=i.slug %}"> <del>{{ i }}</del></a>
                          {% if user in p.owner_group.custom_users.all %}
                          <a href="{% url 'investigation_activate' project=p.slug slug=i.slug %}" data-toggle="tooltip" data-title="Make Active" class="pull-right"><span class="glyphicon glyphicon-thumbs-up">&emsp;</span></a>
                          {%endif%}
                        </h4>
                        <p class="list-group-item-text">
                          {{i.description|safe|truncatewords:50}}
                        </p>
                    </li>
                  {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
      </div>

      <div class="tab-pane" role="tabpanel" id="active_projects">
        {% for p in active_projects %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">
                    <a href="{% url 'pm_project_detail' slug=p.slug %}">{{ p }}</a>
                </h3>
                <div class="clearfix">
                  <div class="btn-group pull-right" role="group" aria-label="...">
                    <a href="#" data-toggle="tooltip" data-title="Expand" ><span id="expand_proj_{{p.id}}" class="glyphicon glyphicon-option-horizontal invert-link inline-button-spacer"></span></a>
                    <a href="{% url 'project_track' slug=p.slug %}" data-toggle="tooltip" data-title="Track"><span class="glyphicon glyphicon-star-empty inline-button-spacer"></span></a>
                    {% if user in p.owner_group.custom_users.all %}
                    <a id="project_deactivate_{{p.id}}" href="{% url 'project_deactivate' slug=p.slug %}" data-toggle="tooltip" data-title="Make Inactive"><span class="glyphicon glyphicon-thumbs-down inline-button-spacer"></span></a>
                    <a id="project_edit_{{p.id}}" href="{% url 'pm_project_edit' slug=p.slug %}" data-toggle="tooltip" data-title="Edit"><span class="glyphicon glyphicon-edit inline-button-spacer"></span></a>
                    {% endif %}
                  </div>
                </div>
            </div>
            <div class="panel-body" id="project_panel_body_{{p.id}}">
                <p><span class="glyphicon glyphicon-ban-circle"></span> You do not follow this project.</p>
                <p>{{ p.description|safe|truncatewords:50 }}</p>
            </div>
            <ul id="invest_list_{{p.id}}" class="list-group">
                {% for i in p.investigation_set.all %}
                <li class="list-group-item">
                  <h4 class="list-group-item-heading">
                    <a href="{% url 'pm_investigation_detail' slug=i.slug %}"> {{ i }}</a>
                  </h4>
                  <p class="list-group-item-text">
                    {{i.description|safe|truncatewords:50}}
                  </p>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
      </div>

      <div class="tab-pane" role="tabpanel" id="inactive_projects">
        {% for p in inactive_projects %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="{% url 'pm_project_detail' slug=p.slug %}">{{ p }}</a>
                </h3>
            </div>
            <div class="panel-body">
                <p><span class="glyphicon glyphicon-remove-circle"></span> This project is inactive. {% if user in p.owner_group.custom_users.all %}<a href="{% url 'project_activate' p.slug %}"><strong>Click here to resume work.</strong></a></p>{% endif %}
                <p>{{ p.description|safe|truncatewords:50 }}<p>
            </div>
            <ul id="_invest_list_{{p.id}}" class="list-group">
                {% for i in p.investigation_set.all %}
                <li class="list-group-item">
                  <h4 class="list-group-item-heading">
                    <a href="{% url 'pm_investigation_detail' slug=i.slug %}"> {{ i }}</a>
                  </h4>
                  <p class="list-group-item-text">
                    {{i.description|safe|truncatewords:50}}
                  </p>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
      </div>
    </div>
</div>


{% endblock %}
